/**
 * <--- Copyright 2011 de Solis - Cooperativa de Soluções Livres Ltda.
 *
 * Este arquivo é parte do programa PROJETO.
 *
 * O PROJETO é um software livre; você pode redistribuí-lo e/ou modificá-lo
 * dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação
 * do Software Livre (FSF); na versão 2 da Licença.
 *
 * Este programa é distribuído na esperança que possa ser útil, mas SEM
 * NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO
 * ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU/GPL em
 * português para maiores detalhes.
 *
 * Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título
 * "LICENCA.txt", junto com este programa, se não, acesse o Portal do Software
 * Público Brasileiro no endereço www.softwarepublico.gov.br ou escreva para a
 * Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston,
 * MA 02110-1301, USA --->
 *
 * MEventCalendar style
 * Based on Kevin Ilsen's jec-styled
 *
 * @author Daniel Hartmann [daniel@solis.coop.br]
 *
 * \b Mantenedores \n
 * Daniel Hartmann [daniel@solis.coop.br]
 *
 * @since
 * Created on 09/03/2011
 */

/* "Global" settings for the calendar table */
table.m-event-calendar
{
    border-collapse: collapse;
    border: 1px solid #B5D5FF;
    font-size: 12px;
    font-family: Arial, Verdana;
    margin: 5px;
    width: 98%;
}

/* "Global" settings for all table cells in the calendar table */
table.m-event-calendar th, table.m-event-calendar td
{
    border: 1px solid #B5D5FF;
    padding: 2px;
    width: 14%;   /* this makes all of the days the same width (note: 7 * 14% = 98%) */
}

/* Settings for cells in the body of the calendar (i.e., the days) */
table.m-event-calendar td
{
    height: 80px;
    vertical-align: top;
}

/* Formatting of the events when they appear in a day cell */
table.m-event-calendar td div.events
{
    font-size: 11px;
    line-height: 13px;
    height: 60px;
    overflow-y: auto;
    color: gray;
}

table.m-event-calendar td div.events span
{
    display: block;
    margin-bottom: -3px;
}

table.m-event-calendar td div.events a
{
    display: block;
    margin-bottom: -3px;
    color: gray;
}

table.m-event-calendar td div.events a:active, table.m-event-calendar td div.events a:focus
{
    outline: 0; /* remove the dotted border from the active link */
}

/* Formatting of the year/month banner */
table.m-event-calendar thead th
{
    background-color: #B5D5FF;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    padding-left: 4px;
}

/* Formatting of the weekday names */
table.m-event-calendar tbody th
{
    background-color: #D9E9FF;
    color: #555;
    font-size: 12px;
    font-weight: bold;
    margin: 3px;
    padding-left: 4px;
}

/* Formatting of the footer cells (with links to other months) */
table.m-event-calendar tfoot th
{
    border: none;
    background-color: #B5D5FF;
    text-align: center;
}

table.m-event-calendar tfoot th a
{
    color: #555;
    text-decoration: none;
    display: block;
}

table.m-event-calendar tfoot th a:hover
{
    border: 1px solid #b2b28f;
}

/* Formatting of the day cells */
table.m-event-calendar
{
    background-color: #ffffff;
}

table.m-event-calendar td.dayBlank
{
    background-color: #fffffa;
}

table.m-event-calendar td.daySpecial
{
}

table.m-event-calendar td.dayToday
{
}

table.m-event-calendar td.dayHasEvent
{
    background-color: #FFFFFF;
}

/* Formatting of the date that appears in each calendar day cell */
table.m-event-calendar td div.date
{
    text-align: right;
    padding: 0;
    margin: 0;
    color: gray;
}

table.m-event-calendar td.dayToday div.date
{
    font-weight: bold;
}

table.m-event-calendar td.daySpecial div.date
{
    color: #EE5050;
}

table.m-event-calendar td.dayHasEvent div.date
{
    color: #467828;
}
