/**
 * <--- Copyright 2012 de Solis - Cooperativa de Solu��es Livres Ltda.
 *
 * Este arquivo � parte do programa Sagu.
 *
 * O Sagu � um software livre; voc� pode redistribu�-lo e/ou modific�-lo
 * dentro dos termos da Licen�a P�blica Geral GNU como publicada pela Funda��o
 * do Software Livre (FSF); na vers�o 2 da Licen�a.
 *
 * Este programa � distribu�do na esperan�a que possa ser �til, mas SEM
 * NENHUMA GARANTIA; sem uma garantia impl�cita de ADEQUA��O a qualquer MERCADO
 * ou APLICA��O EM PARTICULAR. Veja a Licen�a P�blica Geral GNU/GPL em
 *
 * Voc� deve ter recebido uma c�pia da Licen�a P�blica Geral GNU, sob o t�tulo
 * "LICENCA.txt", junto com este programa, se n�o, acesse o Portal do Software
 * P�blico Brasileiro no endere�o www.softwarepublico.gov.br ou escreva para a
 * Funda��o do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston,
 * MA 02110-1301, USA --->
 *
 * Tema SModern.
 *
 * @author Daniel Hartmann [daniel@solis.coop.br]
 *
 * \b Maintainers: \n
 * Armando Taffarel Neto [taffarel@solis.coop.br]
 * Daniel Hartmann [daniel@solis.coop.br]
 *
 * @since
 * Class created on 06/01/2012
 *
*/

@media print  {
    .m-button {
        font-size:8px !important;
        border:1px solid #666 !important;
    }

    .m-text-field,.m-combo {
        font-size:8px !important;
        border:1px solid #666 !important;
        margin:0 !important;
    }

    .m-table-raw-title {
        background-color:#FFF !important;
        color:#333 !important;
        font-weight:700 !important;
        font-size:10px !important;
        text-decoration:none !important;
        text-align:center !important;
        border:solid 1px #666 !important;
    }

    .m-table-raw-column-title {
        background:#FFF !important;
        color:#333 !important;
        font-weight:700 !important;
        font-size:10px !important;
        text-decoration:none !important;
        border:solid 1px #666 !important;
    }
}

/******************************************************************************
 * hr
 ******************************************************************************/
.m-hr {
    width:100%;
    height:0;
    line-height:0;
    font-size:0;
    border-top:1px solid #ccc;
    border-bottom:1px solid #FFF;
    clear:both;
    margin:0;
}

/******************************************************************************
 * separator
 ******************************************************************************/
.m-separator {
    width:95%;
    font-size:11px;
    vertical-align:top;
    font-weight:400;
    border:none !important;
    margin:0;
}

/******************************************************************************
 * htmlArea
 ******************************************************************************/
#m-htmlarea {
    width:90%;
    margin:15px;
}

.m-hint {
    padding: 2px 3px;
    border-radius:0.5em;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
    background-color:#f2f5f7;
    font-size:10px;
    border:solid #93bcd9 1px;
    color:#287eb0;
    display: inline-block;
}

.formBaseLabel {
    height:15px;
}

.m-label {
    color:#000;
    font-size:11px;
    font-weight:400;
    margin:2px;
}

.m-caption {
    color:#000;
    font-size:11px;
    font-weight:400;
    margin:2px;
}

.m-label-text {
    color:#333;
    font-size:11px;
    font-weight:700;
    margin:2px;
}

.m-text {
    font-family:arial;
    font-size:12px;
    font-weight:400;
}

.m-text-field {
    font-family:arial;
    font-size:11px;
    font-weight:400;
    background:#fff url(index.php/miolo/themes/smodern/images/validation-input-bg.png);
    outline:none;
    border:2px solid #9ddbfb;
    height:14px;
    margin:2px 2px 2px 1px;
}

.m-text-user-field {
    font-family:arial;
    font-size:11px;
    font-weight:400;
    outline:none;
    border:2px solid #9ddbfb;
    height:14px;
    padding-left:18px;
    background:#FFF url(index.php/miolo/themes/smodern/images/login-user.png) no-repeat;
    margin:2px 2px 2px 1px;
}

.m-text-passwd-field {
    font-family:arial;
    font-size:11px;
    font-weight:400;
    outline:none;
    border:2px solid #9ddbfb;
    height:14px;
    padding-left:18px;
    background:url(index.php/miolo/themes/smodern/images/login-pass.png) no-repeat #FFF;
    margin:2px 2px 2px 1px;
}

.m-button {
    font-size:12px;
    font-weight:400;    
    background-color:#fafafa;
    border-bottom:1px solid #333;
    border-right:1px solid #333;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    background-image:url(index.php/miolo/themes/smodern/images/button-background.png);
    color:#333;
    min-height: 22px;
    background-repeat:no-repeat;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    margin:2px;
    margin-bottom: 0px;
    padding: 0px 15px;
}

.m-button:hover {
    border-bottom:1px solid #000;
    border-right:1px solid #000;
    border-left:1px solid #2B92CE;
    border-top:1px solid #2B92CE;
    color:#1F72BF;
    cursor:pointer;
}

.m-button:active {
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #333;
    border-top:1px solid #333;
}

.m-button-find {
    background-image:url(index.php/miolo/themes/smodern/images/button_select.png);
    background-position: center; 
    background-repeat:no-repeat;
    background-color:transparent;
    width:20px;
    height:20px;
    vertical-align:top;
    margin:2px 0 0;
}

.m-button-find:hover,.m-button-find:active {
    background-color:#cecece;
}

.m-button-close-up {
    color:#000;
    background-image:url(images/button_close_up.gif);
    background-repeat:no-repeat;
    font:message-box;
    background:url(index.php/miolo/themes/smodern/images/button_close.png) no-repeat top left;
    background-position:0 -30px;
    width:17px;
    height:17px;
    vertical-align:top;
    margin:2px;
}

.m-button-close-down {
    color:#000;
    background-image:url(images/button_close_down.gif);
    background-repeat:no-repeat;
    font:message-box;
    background:url(index.php/miolo/themes/smodern/images/button_close.png) no-repeat top left;
    background-position:0 -74px;
    width:17px;
    height:17px;
    vertical-align:top;
    margin:2px;
}

.m-button-minimize-up {
    background-image:url(images/button_minimize_up.gif);
    background-repeat:no-repeat;
    text-align:center;
    font:message-box;
    background:url(index.php/miolo/themes/smodern/images/button_minimize.png) no-repeat top left;
    background-position:0 -30px;
    width:17px;
    height:17px;
    vertical-align:top;
    margin:2px;
}

.m-button-minimize-down {
    background-image:url(images/button_minimize_down.gif);
    background-repeat:no-repeat;
    text-align:center;
    font:message-box;
    background:url(index.php/miolo/themes/smodern/images/button_minimize.png) no-repeat top left;
    background-position:0 -74px;
    width:17px;
    height:17px;
    vertical-align:top;
    margin:2px;
}

.m-button-help-up {
    cursor:hand;
    font:message-box;
    background-image:url(index.php/miolo/themes/smodern/images/button_help_up.png);
    background-repeat:no-repeat;
    width:17px;
    height:17px;
    text-align:center;
    vertical-align:top;
    margin:2px;
}

.m-button-help-down {
    font:message-box;
    background-image:url(index.php/miolo/themes/smodern/images/button_help_down.png);
    background-repeat:no-repeat;
    width:17px;
    height:17px;
    text-align:center;
    vertical-align:top;
    margin:2px;
}

.formField {
    color:#000;
    font-size:11px;
    font-weight:400;
    vertical-align:top;
    background-color:#FFF;
    border:#4052ff solid 1px;
    outline:1px solid #4052ff;
    margin:2px;
}

.m-multiline-field {
    color:#000;
    font-size:11px;
    font-weight:400;
    border:2px solid #9ddbfb;
    vertical-align:top;
    background:#fff url(index.php/miolo/themes/smodern/images/validation-input-bg.png) repeat-x;
    outline:none;
}

.formFieldErr {
    color:red;
    font-size:11px;
    font-weight:400;
    border:2px solid #9DDBFB;
}

input[type=text],input[type=password] {
    border:2px solid #9DDBFB;
}

input[type=file] {
    font-size:11px;
    font-weight:400;
    background-color:#FFF;
    border:2px solid #9DDBFB;
    height:20px;
    margin:0 2px 0 1px;
}

input[readonly],input[readonly]:hover,input[readonly]:focus {
    clear:both;
    color:#666;
    font-size:11px;
    background-color:#efefef;
}

input[type="radio"],input[type="checkbox"] {
    cursor:pointer;
}

legend {
    font-weight:700;
    font-size:11px;
}

iframe {
    border-top:2px solid #4052ff;
    border-left:2px solid #4052ff;
    border-right:2px solid #4052ff;
    border-bottom:2px solid #4052ff;
    border-radius:0.4em;
    -moz-border-radius:0.4em;
    -webkit-border-radius:0.4em;
}

select {
    font-size:11px;
    font-weight:400;
    background-color:#FFF;
    border:1px solid #4052ff;
    border-radius:0.2em;
    -moz-border-radius:0.2em;
    -webkit-border-radius:0.2em;
    margin:2px;
}

.m-combo {
    cursor:pointer;
    font-size:11px;
    font-weight:400;
    background-color:#fff;
    border:2px solid #9ddbfb;
    margin:2px 2px 2px 1px;
}

.m-combo option {
    cursor:pointer !important;
}

.m-radiobutton-group {
    vertical-align:20%;
    color:#333;
    font-size:11px;
    font-weight:400;
    margin-top:1px;
    margin-bottom:1px;
}

.m-checkbox-group {
    color:#333;
    font-size:11px;
    font-weight:400;
    margin-top:-2px;
    margin-bottom:1px;
    margin-left:-4px;
    vertical-align:50%;
}

.formErrors {
    background-color:#4052ff;
    border:1px solid #000;
    color:#fff;
    padding:6px;
}

.m-scrollable-label {
    color:#333;
    font-size:11px;
    font-weight:400;
}

.m-scrollable-field {
    border-top:solid #4052ff 1px;
    border-left:solid #4052ff 1px;
    border-right:solid #4052ff 1px;
    border-bottom:solid #4052ff 1px;
    border-radius:0.4em;
    -moz-border-radius:0.4em;
    -webkit-border-radius:0.4em;
    background-color:#ededed;
    border:solid silver 1px;
    overflow:auto;
}

.m-multitext-field {
    background-color:#EDEDED;
}

.m-multitext-field .select {
    width:180px;
    font-size:11px;
    font-weight:400;
    background-color:#fff;
    border:1px solid #93bcd9;
    margin:2px;
}

.m-multitext-field .label {
    color:#333;
    font-size:9px;
    margin-top:1px;
    margin-bottom:1px;
    vertical-align:top;
}

.m-multitext-field .button {
    background-color:#EDEDED;
    border:1px solid #CCC;
    border-bottom:1px solid #333;
    border-right:1px solid #333;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    font-size:11px;
    font-weight:400;
    width:70px;
    text-align:center;
    vertical-align:top;
    margin:0 5px 5px 0;
}

.m-multitext-field .selection {
    float:left;
    width:280px;
}

.m-multitext-field fieldset {
    border:1px solid #ccc;
    padding:10px;
}

/******************************************************************************
 * TableRaw
 ******************************************************************************/
.m-tableraw {
    background-color:#359;
    padding:4px;
}

.m-tableraw-title {
    background-image:url(index.php/miolo/themes/smodern/images/formheader-background.png);
    background-repeat:repeat-x;
    background-color:#1F72BF;
    color:#fff;
    font-weight:700;
    font-size:12px;
    text-decoration:none;
    text-align:center;
    width:100%;
    margin:0;
}

.m-tableraw-column-title {
    background:#1F72BF url(index.php/miolo/themes/smodern/images/formheader-background.png) repeat-x;
    color:#FFF;
    font-weight:700;
    font-size:11px;
    text-align:center;
    text-decoration:none;
}

.m-tableraw-row-0:hover {
    background:#92beff url(index.php/miolo/themes/smodern/images/formheader-background.png) repeat-x;
    color:#000;
    height:15px;
}

.m-tableraw-row-1 {
    font-weight:400;
    font-size:11px;
    text-decoration:none;
    background-color:#DFEFFF;
    color:#000;
    height:15px;
    border:1px solid #fff;
}

.m-tableraw-row-1:hover {
    background:#92beff url(index.php/miolo/themes/smodern/images/formheader-background.png) repeat-x;
    color:#000;
    height:15px;
    border:1px solid #fff;
}

.m-tableraw-group-column-curricularcomp {
    vertical-align:top;
}

.m-tableraw-group-column-vacancy {
    width:5%;
    vertical-align:top;
}

/******************************************************************************
 * pageNavigator
 ******************************************************************************/
.m-pagenavigator {
    background-color:silver;
    border:1px solid silver;
    padding:2px;
}

.m-pagenavigator-text {
    color:#000;
    font-weight:400;
    font-size:11px;
    vertical-align:top;
}

.m-pagenavigator-image {
    border:0;
    vertical-align:middle;
    width:17px;
    display:inline;
}

.m-pagenavigator-selected {
    color:#4052ff;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
    margin-left:5px;
    vertical-align:top;
}

.m-pagenavigator-link {
    color:#000;
    font-weight:400;
    font-size:11px;
    text-decoration:underline;
    margin-left:5px;
    vertical-align:top;
}

.m-pagenavigator-link:link,.m-pagenavigator-link:visited {
    color:#000;
    font-weight:400;
    text-decoration:underline;
}

/******************************************************************************
 * Hyperlink
 ******************************************************************************/
.m-link {
    color:#FFF;
    font-weight:700;
    font-size:11px;
    text-decoration:underline;
}

.m-link:hover {
    color:#4052ff;
    font-weight:700;
    text-decoration:underline;
    background:#ededed;
    border-radius:0.3em;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
}

.m-link:active {
    color:#4052ff;
    font-weight:700;
    text-decoration:underline;
}

/******************************************************************************
 * Images
 ******************************************************************************/
.m-image-centered {
    text-align:center;
    margin-top:0;
    margin-bottom:0;
    padding:0;
}

.m-image-centered img {
    text-align:center;
    margin-top:0;
    margin-bottom:0;
    opacity:1px;
    padding:0;
}

.m-image-centered img:hover {
    text-align:center;
    margin-top:0;
    margin-bottom:0;
    opacity:0.7px;
    padding:0;
}

.m-image-icon {
    vertical-align:middle;
    width:16px;
    height:16px;
    border:none;
    opacity:1px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    margin:2px;
    padding:0;
}

.m-image-icon:hover {
    vertical-align:middle;
    width:16px;
    height:16px;
    border:none;
    opacity:0.5px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    margin:2px;
    padding:0;
}

.m-image-link {
    text-decoration:none;
    color:#000;
}

.m-image-link:hover {
    color:#4052ff;
    font-weight:400;
    text-decoration:none;
}

.m-image-label {
    color:#000;
    font-size:11px;
    text-align:center;
    display:block;
    padding:3px;
}

.suspendedFormBox {
    border-top:1px solid #fff;
    border-right:1px solid #9292bc;
    border-bottom:1px solid #9292bc;
    border-left:1px solid #fff;
    background:#e9e9f4;
    margin-top:auto;
    margin-bottom:auto;
}

.suspendedFormTitle {
    background:#4052ff;
    font-weight:700;
    color:#FFF;
    text-decoration:none;
    height:20px;
    vertical-align:top;
    border-radius-top:0.3em;
    -moz-border-radius-top:0.3em;
    -webkit-border-radius-top:0.3em;
    margin:0 0 5px;
}

.suspendedFormTitle .caption {
    text-align:center;
    padding-top:2px;
    float:left;
    width:280px;
}

.suspendedFormTitle .button {
    float:right;
    padding-top:2px;
    padding-right:0;
    width:20px;
    text-align:right;
}

table {
    font-size:0;
    font-style:0;
    font-variant:0;
    font-weight:0;
    line-height:normal;
    white-space:normal;
    padding:0;
}

/******************************************************************************
 * Popup
 ******************************************************************************/
#mPopupAnchor {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99;
}

#mPopup {
    background-color:#F7FAF9;
    border:3px solid #7EABCD;
    text-align:left;
    border-collapse:collapse;
    min-width:50%;
    position:fixed;
    margin:auto;
}

.dj_ie #mPopup {
    top:50px;
}

.m-popup-inner {
    overflow: auto;
    max-height:70%;
    padding-bottom:10px;
}

.m-popup-title-div {
    display:block;
    position:relative;
    top:0;
    width:100%;
    text-indent:10px;
    padding-top:2px;
    z-index:99;
    margin:0;
}

.m-popup-close {
    background-image:url(images/spriteRoundedIconsSmall.png);
    background-repeat:no-repeat;
    background-position:-60px;
    float:right;
    width:16px;
    z-index:99;
    height:16px;
    cursor:pointer;
    margin: 2px;
}

.dj_ie .m-popup-close {
    top:-16px;
}

#mPopupBackground {
    background:rgba(0, 0, 0, 0.4);
    filter:alpha(opacity=50);
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:fixed;
    z-index:98;
}

.m-popup-body {
    z-index:99;
    padding:5px 10px;
}

.m-popup-body .m-form-row span.field {
    width:auto;
}

.m-popup-buttons-div {
    text-align:center;
}

#mPopupPromptField {
    width:85%;
}

/******************************************************************************
 * MTabbedBaseGroup
 ******************************************************************************/
.m-tab {
    font-weight:700;
    float:left;
    position:relative;
    top:4px;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    z-index:0;
    margin:2px 3px 0 0;
}

.m-tab-active {
    top:1px;
    color:#000;
    background-color:#EDEDED;
    background-image:url('images/status-background.png');
    background-repeat:repeat-x;
    border:solid 1px silver;
    border-top:solid 2px #277EB0;
    border-bottom-width:0;
    z-index:2;
    padding:6px 9px 3px;
}

.m-tab-idle {
    color:#444;
    background:#F8F8F8;
    border:solid 1px silver;
    border-bottom-color:#FFF;
    padding:3px 9px;
}

.m-tab-idle:hover {
    background-color:#F7FAF9;
    color:#000;
}

.m-tab-disabled {
    background:#FAFAFA;
    color:silver;
    border:solid 1px silver;
    border-bottom-color:#FFF;
    cursor:default;
    padding:3px 9px;
}

/* Used to identify removed tabs */
.m-tab-removed {
    display:none;
}

.m-tabbed-base-group fieldset {
    position:relative;
    margin:0;
}

.m-tab-buttons {
    float:left;
    margin-right:3px;
}

/* MExpandDiv */
.m-expand-div-button {
    float:left;
    height:11px;
    width:11px;
    border:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    margin-right:5px;
    background-image:url('images/expandDivButton.png');
    background-repeat:no-repeat;
}

.m-expand-div-button-collapsed {
    background-position:0;
}

.m-expand-div-button-expanded {
    background-position:-11px;
}

.m-expand-div-text-collapsed {
    height:15px;
    overflow:hidden;
}

.m-expand-div-text-expanded {
    height:auto;
}

ul li p {
    font-weight:400;
}

.m-spacer {
    clear:both;
    line-height:0;
    background-color:transparent;
    height:0;
}

.m-read-only {
    font:caption;
    font-weight:400;
    color:#333;
    background-color:threedface;
    margin-top:2px;
}

/*************** REVISAR ************/
.m-label,.m-caption,.m-caption-required {
    font-family:arial;
    color:#333;
    font-size:12px;
    font-weight:400;
    margin-left:2px;
}

.m-label-bold {
    font-weight:700;
}

.m-label:hover,.m-label:active,.m-caption:hover,.m-caption:active,.m-label-text:hover,.m-label-text:active,.m-text:hover,.m-text:active {
    color:#333;
}

.m-multiline-field,textarea {
    font-size:11px;
    font-weight:400;
    background-color:#fff;
    vertical-align:top;
    border:2px solid #9DDBFB;
    margin:1px;
}

.m-text-field m-read-only {
    border:1px solid #9DDBFB;
}

.m-base-group {
    display:block;
}

.m-base-group .m-container-vertical {
    clear:both;
}

.m-checkbox-group label {
    color:#000;
}

.m-file-content {
    font:message-box;
    font-weight:700;
    text-align:left;
}

/******************************************************************************
 * Container
 *****************************************************************************
 Tan hack for IE/Win */
* html .m-container-controls {
    height:1%;
}

.m-container-controls {
    overflow:hidden;
}

.m-container-horizontal {
    display:block;
    float:left;
    margin-right:5px;
}

.m-container-vertical {
    margin-bottom:3px;
}

/******************************************************************************
 * TableRaw
 ******************************************************************************/
.m-table-raw {
    background-color:#359;
    border-collapse:collapse;
    border:1px solid #ccc;
}

.m-table-raw td,.m-table-raw th,.m-table-raw caption {
    padding:4px;
}

.m-table-raw caption {
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    background-color:#fff;
    color:#359;
    font-weight:700;
    font-size:12px;
    text-decoration:none;
    text-align:center;
}

.m-table-raw-title {
    background-color:#fff;
    color:#359;
    font-weight:700;
    font-size:12px;
    text-decoration:none;
    text-align:center;
}

.m-table-raw-column-title {
    background-color:#2B92CE;
    background-image:none;
    border-left:1px solid #FFF;
    color:#FFF;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
}

.m-table-raw-column-title .m-link {
    color:#FFF;
    text-decoration:none;
}

.m-table-raw-column-title .m-link:hover {
    text-decoration:underline;
}

.m-table-raw-row1 {
    background-color:#eee;
    color:#333;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
}

.m-table-raw-row0:hover,.m-table-raw-row1:hover {
    background-color:#ddd;
    outline:solid 1px #2B92CE;
    border:0;
}

.m-button img,.m-multitext-field .buttonPosH,.m-multitext-field .selectPosH,.m-popup-title,.m-multitext-field .button-pos-h,.m-multitext-field .select-pos-h {
    float:left;
}

.m-multiline-field:hover,.m-multiline-field:focus {
    background-color:#f8fbf4;
}

input[type=text]:hover,input[type=text]:focus,.m-text-field:hover,.m-multiline-field:hover,.m-text-user-field:hover,.m-text-passwd-field:hover,textarea:hover,.m-combo:hover,.m-text-field:focus,.m-multiline-field:focus,.m-text-user-field:focus,.m-text-passwd-field:focus,textarea:focus,.m-combo:focus {
    background-color:#F0F8FF;
}

.m-multitext-field .textfield,.m-multitext-field .combo {
    border:1px solid #4052ff;
    font-size:11px;
    font-weight:400;
}

.m-multitext-field .fieldPosH,.m-multitext-field .field-pos-h {
    float:left;
    width:200px;
}

.m-tableraw-row,.m-tableraw-row-0 {
    font-weight:400;
    font-size:11px;
    text-decoration:none;
    background-color:#fff;
    color:#000;
    height:15px;
}

.m-tableraw-group-column-action,.m-tableraw-group-column-status,.m-tableraw-group-column-regimen {
    width:10%;
    vertical-align:top;
}

.m-pagenavigator-range,.m-image-link-label {
    color:#000;
    font-weight:400;
    font-size:11px;
}

.m-pagenavigator-link:active,.m-pagenavigator-link:hover,.m-image-label:hover,.m-image-label:active {
    color:#4052ff;
    font-weight:400;
    text-decoration:underline;
}

.m-link:link,.m-link:visited {
    color:#000;
    font-weight:700;
    text-decoration:underline;
}

.m-image-link:link,.m-image-label:visited {
    color:#000;
    font-weight:400;
    text-decoration:none;
}

.m-image-link-label:hover,.m-image-link-label:active {
    color:#4052ff;
    text-decoration:underline;
}

.m-table-raw-row,.m-table-raw-row0 {
    background-color:#fff;
    color:#333;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
}

/******************************************************************************
 * Widgets
 ******************************************************************************/
.sWidgetDiv fieldset .m-grid-box {
    float: left;
    width: 100%;
}

.sWidgetDiv fieldset div .m-grid-box {
    border: 0;
    background: none;
}

.sWidgetDivTopo {
    clear: both;
    width: 100%;
}

.sWidgetDivEsquerda, .sWidgetDivDireita {
    width: 49%;
    margin-top: 3px;
}

.sWidgetDivDireita { float: right; }

.sWidgetCustomize {
    float: right;
    color: black;
    font-weight: bold;
}
