/******************************************************************************
 * DHTMLMenu
 ******************************************************************************/
/* level 0 inner */
.m0l0iout {
	color:           #000000;
	font: menu;
	background: menu;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
	font-weight:   normal;
	text-decoration: none;
}
.m0l0iover {
	color:           #000000;
	font: menu;
	background: menu;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
	font-weight:   normal;
	text-decoration: none;
}
.m0l0idown {
	color:           #000000;
	font: menu;
	background: menu;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
	font-weight:   normal;
	text-decoration: none;
}

/* level 0 outer */
.m0l0oout {
	color:           #000000;
	font: menu;
	background: menu;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
	font-weight:   normal;
	text-decoration: none;
}
.m0l0oover {
	color:           #000000;
	font: menu;
	background: menu;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
    	background-color: #CCC;
    	border-top:    1px solid  threedhighlight;
    	border-right:    1px solid threeddarkshadow;
    	border-bottom:    1px solid threeddarkshadow;
    	border-left:    1px solid   threedhighlight;
	font-weight:   normal;
	text-decoration: none;
}
.m0l0odown {
	color:           #000000;
	font: menu;
	background: menu;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
    	border-bottom:    1px solid  threedhighlight;
    	border-left:    1px solid threeddarkshadow;
   	border-top:    1px solid threeddarkshadow;
    	border-right:    1px solid   threedhighlight;
	font-weight:   normal;
	text-decoration: none;
}

/* level 1 inner */
.m0l1iout {
	color:           #000000;
	font: menu;
	background: menu;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
	font-weight:   normal;
	text-decoration: none;
}
.m0l1iover {
	color: highlighttext;
	font: menu;
	font-weight:   normal;
	text-decoration: none;
	background: highlight;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
}

/* level 1 outer */
.m0l1oout {
	color:           #000000;
	font: menu;
	font-weight:   normal;
	text-decoration: none;
	background: menu;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
    	border: 1px solid  threedshadow;
}
.m0l1oover {
	color: highlighttext;
	font: menu;
	font-weight:   normal;
	text-decoration: none;
	background: highlight;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
    	border: 1px solid  threedshadow;
}

/* level 2 inner */
.m0l2iover {
	color:           #000000;
	font: menu;
	font-weight:   normal;
	text-decoration: none;
	background: menu;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
	font-weight:   normal;
	text-decoration: none;
}

/* level 2 outer */
.m0l2oout {
	color:           #000000;
	font: menu;
	font-weight:   normal;
	text-decoration: none;
	background: menu;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
}
.m0l2oover {
	color:           #000000;
	font: menu;
	font-weight:   normal;
	text-decoration: none;
	background: menu;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
}

