<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    academico miolo20/html [L]
   RewriteRule    portal miolo26/html/index.php?module=portal&acton=main [L]
   RewriteRule    avaliacao miolo26/html/index.php?module=avinst&action=main [L]
   RewriteRule    vestibular miolo20/html/index.php?module=services&action=main:selectiveProcessSubscription [L]
   RewriteRule    selecao miolo20/html/index.php?module=services&action=main:selectiveProcessSubscription [L]
   RewriteRule    interesse miolo26/html/index.php?module=relcliente&action=rccInteressePortal [L]
   RewriteRule    ouvidoria miolo26/html/index.php?module=relcliente&action=rccMensagemOuvidoriaPortal [L]
   RewriteRule    servicos miolo20/html/index.php?module=services&action=main [L]
   RewriteRule    fichacadastral miolo20/html/index.php?module=resmedica&action=main:registroaluno [L]
   RewriteRule    fichacadastral-multiprofissional miolo20/html/index.php?module=resmedica&action=main:registroaluno [L]
   RewriteRule    ficha-preceptor-ris miolo20/html/index.php?module=residency&action=main:registropreceptor [L]
   RewriteRule    biblioteca$ miolo25/html [L]
   RewriteRule    biblioteca\/admin$ miolo25/html/admin [L]
   RewriteRule    inscricao miolo20/html/index.php?module=pedagogico&action=main:process:inscricaoautenticacao [L]
   RewriteRule    validar miolo20/html/index.php?module=basic&action=main:config:validadocumento [L]
   RewriteRule    consultasatuais miolo20/html/index.php?module=basic&action=main:report:statusbanco [L]
   RewriteRule    ^$ miolo20/html/    [L]
   RewriteRule    (.*) miolo20/html/$1 [L]
</IfModule>
