/* FrmConstrutorDeRelatorios */
.repmaker-header {
    margin-bottom: 15px;
    font-size: 16px;
}

.repmaker-header > * {
    font-size: 16px;
}

.repmaker-parent {
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    
}

.repmaker-parent div.m-grid-box {
    height: 385px;
    width: 100%;
    
}

.repmaker-parent div#divGridResultado {
    max-height: 385px;
    width: 100%;
    overflow-x: visible;
    overflow-y: scroll;
    
}

.repmaker-title {
    font-size: 16px;
    font-weight: bolder;
    
}

.repmaker-title + select {
    margin-bottom: 15px;
    
}

.repmaker-sel {
    display: block;
    margin: 0 25px 0 0;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    
}

.repmaker-container {
    display: block;
    background-color: #f1f1f1;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 400px;
    width: 100%;
}

.repmaker-table {
    width: 100%;
    min-width: 950px;
    table-layout: auto !important;
    border-collapse: collapse;
    font-size: 12px;
    position: relative;
    z-index: 0;
    
}

.repmaker-table * {
    box-sizing: border-box;
        
}

.repmaker-table > tr.repmaker-table-header {
    position: relative;
    height: 40px;
        
}

.repmaker-table > tr.repmaker-table-header > th {
    text-align: center;
    background-color: #1F72BF;
    color: #f4f4f4;
    padding: 20px;
    font-weight: bolder;
    position: relative;
    z-index: 0;
    min-width: 70px;
    z-index: 1;
    
}

.repmaker-table > tr.repmaker-table-header > th > p {
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: inherit;
    line-height: 40px;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    
}

p.repmaker-hint {
    cursor: help;
    
}

.repmaker-table > tr > td {
    border-bottom: 1px solid #aaa;
    padding: 5px;
    text-align: center;
    transition: background-color 0.5s;
    
}
 
.repmaker-table > tr > td.disabled {
    background-color: #d3d3d3;
    
}

.repmaker-field {
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    
}

.repmaker-field > * {
    vertical-align: middle;
    margin-left: 5px;
    
}

.repmaker-inline.m-combo.repmaker-inline-right {
    width: 90px;
    
}

.repmaker-changedates {
    font-weight: bolder;
    cursor: pointer;
    
}

.repmaker-changedates:hover {
    color: #9DDBFB;
    
}

.repmaker-input-text {
    box-sizing: border-box;
    font-size: 11px;
    width: 175px;
    margin-top: 2px;
    margin-right: 2px;
}

.repmaker-input-text:invalid {
    border-color: #c61217;
    
}

.repmaker-input-text:valid {
    border-color: #12c617;
    
}

.repmaker-container-filtro {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    
}

.repmaker-selecionar-data {
    width: 16px;
    height: 16px;
    background-image: url("images/cal.gif");
    display: inline-block;
    position: relative;
    top: 2px;
    cursor: pointer;
    
}

.repmaker-inline {
    display: inline-block;
        
}

.repmaker-inline:disabled {
    background-color: #c3c3c3;
    border: 2px solid #d3d3d3;
    
}

.repmaker-inline:disabled:hover {
    background-color: #c3c3c3;
    
}

.repmaker-checkbox {
    display: none;
    
}

.repmaker-checkboxlabel {
    position: relative;
    top: -1px;
    
}

.repmaker-checkboxlabel::before {
    content: "\2610";
    position: relative;
    display: inline-block;
    text-align: center;
    top: 1.5px;
    width: 16px;
    height: 16px;
    line-height: 15px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #9DDBFB;
    transition: content 0.5s, background-color 0.5s;
        
}

.repmaker-checkbox:checked + .repmaker-checkboxlabel::before {
    content: "\2611";
    background-color: #080;
    color: #f4f4f4;
    
}

.repmaker-checkbox:checked + .repmaker-checkboxlabel:hover::before {
    content: "\2612";
    background-color: #800;
    color: #f4f4f4;
    
}

.repmaker-checkbox:disabled + .repmaker-checkboxlabel::before {
    content: "\2612";
    background-color: #999;
    color: #f4f4f4;
    
}

.repmaker-span-action {
    cursor: pointer;   
    
}

.repmaker-bolder {
    font-weight: bolder;
    
}

/* Menu */
.repmaker-controls {
    position: fixed;
    background-color: #F4F4F4;
    box-shadow: 0px 0px 5px #333;
    transition: all 1s ease 0s;
    width: auto;
    top: 25px;
    right: 0px;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2;
    border-radius: 0 0 0 10px;
}

.repmaker-controls > div, .repmaker-controls > a {
    height: 50px;
    display: inline-block;
    width: 50px;
    box-sizing: border-box;
    
}

.repmaker-controls > div#btnRMSalvar {
    background-image: url("images/repmaker-save-50x50.png");
    background-size: 40px;
    background-position: center;
    
}

.repmaker-controls > div#btnRMSalvarComo {
    background-image: url("images/repmaker-save-as-50x50.png");
    background-size: 40px;
    background-position: center;
    
}

.repmaker-controls > div#btnRMVerSQL {
    background-image: url("images/repmaker-sql-50x50.png");
    background-size: 40px;
    background-position: center;
    
}

.repmaker-controls > a.repmaker-menubtn-search {
    background-image: url("images/repmaker-search-50x50.png");
    background-size: 40px;
    background-position: center;
    
}

.repmaker-controls > div#btnRMGerar {
    background-image: url("images/repmaker-generate-50x50.png");
    background-size: 40px;
    background-position: center;
    
}

.repmaker-controls > div#btnRMPublicar {
    background-image: url("images/repmaker-publicar-50x50.png");
    background-size: 43px;
    background-position: center;
    
}

.repmaker-controls > div#btnRMPublicar.despublicar {
    background-size: 43px;
    background-image: url("images/repmaker-despublicar-50x50.png");
        
}

#divResultado {
    display: none;
    
}

.repmaker-opcoes {
    margin-bottom: 15px;

}

.repmaker-div-label {
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    padding: 8px;
    background-color: #1F72BF;
    color: #EEE;
    border-bottom: 1px solid #eee;
    
}

.repmaker-div-label + div {
    transition: height 0.5s, max-height 0.5s, opacity 0.5s;
        
}

.repmaker-div-label:hover > * {
    color: #FFF;
    
}

.repmaker-div-label > * {
    color: #EEE;
    
}

.repmaker-div-label:after {
    content: "[-]";
    
}

.repmaker-div-escondida-label:after {
    content: "[+]";    
    
}

.repmaker-div-escondida {
    margin-top: 0px !important;
    opacity: 0;
    overflow: hidden;
    max-height: 0 !important;
    
}

.repmaker-clear {
    clear: both;
    
}

/* Fim do css do FrmConstrutorDeRelatorios */