/**
 * <--- Copyright 2012 de Solis - Cooperativa de Soluções Livres Ltda.
 *
 * Este arquivo é parte do programa Sagu.
 *
 * O Sagu é um software livre; você pode redistribuí-lo e/ou modificá-lo
 * dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação
 * do Software Livre (FSF); na versão 2 da Licença.
 *
 * Este programa é distribuído na esperança que possa ser útil, mas SEM
 * NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO
 * ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU/GPL em
 *
 * Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título
 * "LICENCA.txt", junto com este programa, se não, acesse o Portal do Software
 * Público Brasileiro no endereço www.softwarepublico.gov.br ou escreva para a
 * Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston,
 * MA 02110-1301, USA --->
 *
 * Tema SModern.
 *
 * @author Daniel Hartmann [daniel@solis.coop.br]
 *
 * \b Maintainers: \n
 * Armando Taffarel Neto [taffarel@solis.coop.br]
 * Daniel Hartmann [daniel@solis.coop.br]
 *
 * @since
 * Class created on 06/01/2012
 *
 */

/******************************************************************************
 * spacer div
 ******************************************************************************/
.m-spacer {
    clear: both;
    line-height: 0px;
    background-color:transparent;
}

/******************************************************************************
 * Box
 ******************************************************************************/
.m-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}

@media print {
    .m-box {
        width: 100% !important;
        padding-bottom: 0px !important;
    }
}

.m-box-box {
    margin-top: auto;
    margin-bottom: auto;
    /*border: 1px solid #aaa;*/
    background-color: #d9dcff;
    -moz-border-radius: 0.3em;
}

.m-box-outer {
    margin: auto;/*10px;*/
    padding-bottom: 26px;
}

* html .m-box-box {
   	height: 1%;

}

.m-box-title {

    background-color: #4052ff;
    background-image: url(index.php/miolo/themes/sblue/images/shadow.png);
    background-repeat: repeat-x;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    height:20px;
    vertical-align: top;
    margin: 0px 0px 5px 0px;
    -moz-border-radius-top: 0.3em;
}

.m-box-title .caption {
    text-align: left;
    padding-top:2px;
    float: left;
    width: 80%;
}

.m-box-title .icon {
    float: left;
    padding-top:2px;
    padding-left:2px;
    width:20px;
    margin: 3px;
}

.m-box-title .button {
    float: right;
    padding-top:2px;
    padding-right: 0px;
    width:20px;
    text-align:right;
}

.m-box-content {
    background-color: #ededed;
    font: caption;
    padding: 8px;
    -moz-border-radius: 1.3em;
}

/******************************************************************************
 * Panel
 ******************************************************************************/

/* Tan hack for IE/Win */

* html .m-panel-body {
   	height: 1%;
}

.m-panel-body {
   	padding: 3px;
    background-color: #d9dcff;
    -moz-border-radius-bottom: 0.3em;

    /*-moz-border-radius-bottomleft: 0.3em;
-moz-border-radius-bottomright: 0.3em;*/


}

.m-panelcontrol-box {
   	margin: 2px 2px 2px 2px;
}


/******************************************************************************
 * promptBox
 ******************************************************************************/

.m-prompt-box {
    /*width: 50%;*/
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    border:0 none;

}

.m-prompt-box-box {
    width: 50%/*310px*/;
    margin-left:auto;
    margin-right: auto;
}


.m-prompt-box-button {
   	clear: left;
   	text-align: center;
}

.m-prompt-box-button li button {
    font-size: 11px;
    font-weight: normal;
    min-width: 80px;
}

.m-prompt-box-button ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.m-prompt-box-button ul li {
    display: inline;
}

.m-prompt-box-text {
   	/*float:left;*/
   	text-align: left;
   	padding: 5px 5px 5px 40px;
   	font-size: 11px;
    font-weight: bold;
}

.m-prompt-box-text li {
   	background-image: url(images/bullet.gif);
   	background-repeat: no-repeat;
   	background-position: 0 0.5em;
   	margin-left: .7em;
    padding-left: 10px;
}

.m-prompt-box-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.m-prompt-box-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    vertical-align: top;
    height: 20px;
    margin: 0;
}

.m-prompt-box-title .caption {
    text-align: left;
    padding-top:2px;
    float: left;
    min-width: 280px;
}

.m-prompt-box-title .icon {
    float: left;
    padding-top:2px;
    padding-left:2px;
    width:20px;
}

.m-prompt-box-title .button {
    float: right;
    padding-top:2px;
    padding-right: 2px;
    width:20px;
    text-align:right;
}

.m-prompt-box-title-error {
    background-color: #d42428;
    background-image: url(index.php/miolo/themes/sblue/images/shadow.png);
    -moz-border-radius-top: 0.3em;
    /*-moz-border-radius-topleft: 0.3em;
-moz-border-radius-topright: 0.3em;*/
}

.m-prompt-box-error {
    background-color: #FFFFFF;
   	background-image: url(images/error.png);
   	background-repeat: no-repeat;
   	background-position: 5px 5px;
}

.m-prompt-box-title-information {
    background-color: #0000ff;
    background-image: url(index.php/miolo/themes/sblue/images/shadow.png);
    -moz-border-radius-top: 0.3em;
}

.m-prompt-box-information {
    background-color: #FFFFFF;
   	width:100%;
   	background-image: url(images/information.png);
   	background-repeat: no-repeat;
   	background-position: 5px 5px;
}

.m-prompt-box-title-alert {
    background-color: #F6FA00;
    background-image: url(index.php/miolo/themes/sblue/images/shadow.png);
    color: #333;
}

.m-prompt-box-alert {
    background-color: #FFFFFF;
   	width:100%;
   	background-image: url(images/alert.png);
   	background-repeat: no-repeat;
   	background-position: 5px 5px;
}

.m-prompt-box-title-confirmation {
    background-color: #006633;
}
.m-prompt-box-title-confirmation {
    background-color: #006633;
    -moz-border-radius-top: 0.3em;
}

.m-prompt-box-confirmation {
    background-color: #FFFFFF;
   	width:100%;
   	background-image: url(images/question.png);
   	background-repeat: no-repeat;
   	background-position: 5px 5px;
}

.m-prompt-box-title-question {
    background-color: #c1b746;
    background-image: url(index.php/miolo/themes/sblue/images/shadow.png);
    -moz-border-radius-top: 0.3em;
}

.m-prompt-box-question {
    background-color: #FFFFFF;
   	width:100%;
   	background-image: url(images/question.png);
   	background-repeat: no-repeat;
   	background-position: 5px 5px;
}


/**
 * Revisar
*/



/******************************************************************************
 * Box
 ******************************************************************************/


* html .m-box-inner { height: 1%; }

.m-box-inner {
    border: 0;
    background: none;
    margin: 54px 0 0 0;
    padding-left: 10px;
    padding-right: 10px;
}

.m-prompt-box .m-box-inner { padding: 0; }

@media print {
    .m-box-inner {
        border: none !important;
        background-color: white !important;
        margin: 0px !important;
    }
}

.m-box-title  {
    background: #1f72bf url(index.php/miolo/themes/smodern/images/formheader-background.png) repeat-x;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    vertical-align: top;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 2;
    height: 26px;

    line-height: 22px;
}

.m-box-title-caption {
    text-align: left;
    /*padding: 4px 0;
    height: 20px;*/
    line-height: 26px;
    float: left;
    font-size: 15px;
}

.m-box-title-icon {
    float: left;
    width: 17px;
    height: 17px;
    padding: 1px;
    display: block;
}

.m-box-title-button {
    float: right;
    padding-top: 0px;
    padding-right: 0px;
    width: 20px;
    text-align: right;
}

.m-box-content {
    background: threedface;
    font: caption;
    padding: 8px;
}


.m-container-content-full, .m-container-content-full-ajax, .m-theme-container-content-full-ajax {
    text-align: left;
    height: 100%;
    margin: 0;
}

.m-theme-container-content-full-ajax {
    width: 100% !important;
    margin-top: 50px;
    padding-bottom: 20px;
}

/******************************************************************************
 * Panel
 ******************************************************************************/
/* Tan hack for IE/Win */
* html .m-panel-body {
    height: 1%;
    padding-top: 65px;
}

.m-panel-body {
    overflow: hidden;
    background-color: #fff;
    background-image: url(index.php/miolo/themes/smodern/images/bg-conteudo.png);
    background-repeat: repeat-x;
    margin-top: 0;
    border: solid 1px #c0c0c0;
    padding-bottom: 10px;
}

.m-panel-body .m-panel-cell-box {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    outline: solid 1px transparent;
    text-decoration: none;
    display: block;
}

.m-panel-body .m-panel-cell-left { float: left; }
.m-panel-body .m-panel-cell-clear { clear: both; }

.m-panel-body .m-panel-cell-large {
    width: 70px;
    height: 68px;
}

.m-panel-body .m-panel-cell-small {
    width: 125px;
    height: 30px;
}

.m-panel-body .m-panel-cell-box:hover,.m-panel-cell-box:active {
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

/******************************************************************************
 * prompt
 ******************************************************************************/
.m-prompt {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 0 none;
}

.m-prompt-box .m-box-outer {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.m-prompt-box {
}

.m-prompt-box .m-prompt-box-button {
    clear: left;
    text-align: center;
    margin: 0px;
}

.m-prompt-box .m-prompt-box-button li button {
    width: 80px;
    margin: 5px;
}

.m-prompt-box .m-prompt-box-button ul {
    list-style: none;
    padding: 5pt;
    margin: 0;
}

.m-prompt-box .m-prompt-box-button ul li {
    display: inline;
}

.m-prompt-box .m-prompt-box-text {
    float: left;
    text-align: left;
    padding: 5px 5px 5px 40px;
    font-size: 11px;
    font-weight: bold;
}

.m-prompt-box .m-prompt-box-text li {
    background-image: url(../../images/bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.5em;
    margin-left: .7em;
    padding-left: 10px;
}

.m-prompt-box .m-prompt-box-text ul {
    list-style: none;
    padding: 5pt;
    margin: 0;
}

.m-prompt-box-body {
    background-color: white;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.m-prompt-box .m-prompt-box-title-error {
    background-color: #f00;
    background-image: url(index.php/miolo/themes/smodern/images/background-error.png);
    background-repeat: repeat-x;
    border: solid 1px #c80000;
}

.m-prompt-box-error { background-image: url(index.php/miolo/themes/smodern/images/error.png); }
.m-prompt-box .m-prompt-box-title-information { background: #00f url(index.php/miolo/themes/smodern/images/background-info.png) repeat-x scroll 0 0; }
.m-prompt-box-information { background-image: url(index.php/miolo/themes/smodern/images/info.png); }

.m-prompt-box .m-prompt-box-title-confirmation {
    background-color: #f00;
    background-image: url(index.php/miolo/themes/smodern/images/background-error.png);
}

.m-prompt-box-confirmation { background-image: url(index.php/miolo/themes/smodern/images/confirmation.png); }

.m-prompt-box .m-prompt-box-title-question {
    background-color: #009600;
    background: #277eb0 url(index.php/miolo/themes/smodern/images/background-question.png) repeat-x scroll 0 0;
}

.m-prompt-box-question { background-image: url(index.php/miolo/themes/smodern/images/question.png); }

.m-prompt-box-alert {
    background-color: #ffffff;
    width:100%;
    background-image: url(index.php/miolo/themes/smodern/images/alert.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
