/**
 * <--- Copyright 2012 de Solis - Cooperativa de Solu��es Livres Ltda.
 *
 * Este arquivo � parte do programa Sagu.
 *
 * O Sagu � um software livre; voc� pode redistribu�-lo e/ou modific�-lo
 * dentro dos termos da Licen�a P�blica Geral GNU como publicada pela Funda��o
 * do Software Livre (FSF); na vers�o 2 da Licen�a.
 *
 * Este programa � distribu�do na esperan�a que possa ser �til, mas SEM
 * NENHUMA GARANTIA; sem uma garantia impl�cita de ADEQUA��O a qualquer MERCADO
 * ou APLICA��O EM PARTICULAR. Veja a Licen�a P�blica Geral GNU/GPL em
 *
 * Voc� deve ter recebido uma c�pia da Licen�a P�blica Geral GNU, sob o t�tulo
 * "LICENCA.txt", junto com este programa, se n�o, acesse o Portal do Software
 * P�blico Brasileiro no endere�o www.softwarepublico.gov.br ou escreva para a
 * Funda��o do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston,
 * MA 02110-1301, USA --->
 *
 * Tema SModern.
 *
 * @author Daniel Hartmann [daniel@solis.coop.br]
 *
 * \b Maintainers: \n
 * Armando Taffarel Neto [taffarel@solis.coop.br]
 * Daniel Hartmann [daniel@solis.coop.br]
 *
 * @since
 * Class created on 06/01/2012
 *
 
*****************************************************************************
 * gtkTheme - theme.css
 *****************************************************************************
*****************************************************************************
 * Containers
 ******************************************************************************/
body {
    background:url("index.php/miolo/themes/smodern/images/fundo-site.png") repeat scroll 0 0 transparent;
    font-family:verdana, helvetica, arial, geneva, tahoma, sans-serif;
    font-size:70%;
    color:#333;
    width:100%;
    height:100%;
    text-align:center;
    border:0 none;
    margin:0;
    padding:0;
}

h1 {
    font-size:12px;
    font-weight:700;
    color:#333;
    margin:0 0 10px;
}

h2 {
    font-size:11px;
    font-weight:700;
    color:#333;
    margin:0 0 0 15px;
}

h3 {
    font-size:11px;
    font-weight:400;
    color:#900;
    display:inline;
    margin:0 0 0 35px;
}

h4 {
    font-size:10px;
    font-weight:400;
    color:#333;
    display:inline;
    margin:0 0 0 45px;
    padding:0;
}

fieldset {
    background:#fdfdfd url(index.php/miolo/themes/smodern/images/bg-conteudo.png) repeat-x top;
    border-bottom:5px solid #ccc;
    border-left:1px solid #ccc;
    border-right:5px solid #ccc;
    border-top:1px solid #ccc;
    display:block;
    font-size:11px;
    font-weight:400;
    margin:10px;
    padding:10px 20px 20px;
}

.inlineTable table {
    display: inline;
}

#m-container {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

#m-container-top {
    height:25px;
    margin:0;
    padding:0;
    margin-bottom:22px;
}

#m-container-top .logo {
    float:left;
    margin:0;
    padding:6px 10px;
    cursor:hand;
    cursor:pointer;
}

#m-container-top .text {
    float:right;
    width:685px;
    background:#FFF;
    text-align:right;
    margin:0;
    padding:0;
}

#m-container-top .text h1 {
    font-size:14px;
    font-weight:700;
    color:#40bbfb;
    margin:0;
}

#m-container-top .text h2 {
    font-size:12px;
    font-weight:700;
    color:#8ad6fd;
    margin:0;
}

#m-container-module {
    background-color:#FFF;
    font-size:11px;
    font-weight:700;
    text-align:right;
    padding:2px;
}

#m-container-topmenu {
    float:left;
    z-index:0;
    height:25px;
}

#m-container-dhtmlmenu
/* estilo para o mainmenuContainer -> deve ser criado */ {
    top:0;
    position:relative;
    z-index:1;
    background-color:highlight;
    width:100%;
    height:25px;
    padding:0;
}

#m-container-menu {
    float:left;
    background:#FFF;
    width:150px;
    padding:0;
}

#m-container-content {
    float:left;
    width:750px;
    height:auto;
    text-align:left;
    position:relative;
    z-index:0;
    margin:8px;
}

#m-container-content-full {
    height:auto;
    text-align:left;
    z-index:0;
    margin:3px 1px 5px;
}

#m-container-bottom {
    clear:both;
    text-align:center;
}

/******************************************************************************
 * ???
 ******************************************************************************/
.currentPageNumber {
    color:red;
    font-weight:700;
}

div.statistics {
    position:absolute;
    width:500px;
    left:10px;
    overflow:scroll;
    height:200px;
}

div.statistics .image {
    text-align:right;
}

div.statistics .text {
    background-color:#FFF;
    border-top:solid #555 1pt;
    border-bottom:solid #fff 1pt;
    border-left:solid #555 1pt;
    border-right:solid #fff 1pt;
    vertical-align:top;
    font-size:10px;
    font-style:normal;
    font-weight:400;
    color:#005;
    padding:4pt;
}

#m-loading-message-bg {
    background:rgba(0, 0, 0, 0.3);
    filter:alpha(opacity=10);
    top:0;
    left:0;
    position:fixed;
    z-index:998;
    width:100%;
    height:100%;
    display:none;
    border:none;
}

#m-loading-message {
    width:100%;
    height:100%;
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    border:none;
    display:none;
}

#m-loading-message-image {
    width:10%;
    left:45%;
    top:35%;
    height:65px;
    position:fixed;
    border:2px solid silver;
    background-color:#FFF;
    background-image:url("images/loading_solis1.gif");
    background-repeat:no-repeat;
    background-position:center 8px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

#m-loading-message-text {
    font-size:12px;
    padding-top:40px;
    margin-left:0;
    text-align:center;
    width:100%;
}

#divSaguMessagesContent {
    position:relative;
    top:25%;
}

#divSaguMessages {
    display:none;
    position:fixed;
    z-index:1000;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.3);
    text-align:center;
}

/*****************************************************************************
 * HTML Tags
 ******************************************************************************/
div {
    background:none;
}

fieldset fieldset {
    font-size:11px;
    font-weight:400;
    display:block;
    border-color: #DDD;
    margin:0;
    padding: 10px 20px 20px;
    clear:both;
}

legend {
    border-bottom:#1c89bf dashed 1px;
    color:#1c89bf;
    display:block;
    font-family:arial;
    font-size:15pt;
    font-weight:700;
    width:100%;
    text-align:left;
    float:left;
    margin:0 50px 10px 0;
    padding:0 0 10px;
}

fieldset fieldset legend {
    font-family:arial;
    font-size:12pt;
    font-weight:700;
    width:100%;
    text-align:left;
    display:inline;
    float:left;
    padding-top:4px;
    margin:0 0 8px 0;
    padding-bottom:6px;
}

fieldset div span {
    width:auto !important;
    text-align: left !important;
}

code {
    font-size:11px;
    font-weight:400;
    padding:5px;
}

hr {
    height:1px;
    color:#ccc;
}

/**
 * Main menu
 */
.m-main-menu {
    height:25px;
    background:none;
    position:fixed;
    left:0;
    top:0;
    z-index:4;
    text-decoration:none;
}

.m-main-menu .logo {
    position: fixed;
    left: 0;
    top: 0;
    z-index:4;
}

.m-main-menu-spacer {
    height:50px;
    width:100%;
}

.dijitPopup {
    position: fixed;
    background-color: transparent;
    margin: 0;
    border: 0;
    padding: 0;
    max-height:98%;
    overflow-y:auto;
}


.dijitMenuItem {
    font-family:arial;
    font-size:12px;
    cursor:pointer;
    min-width:135px;
    min-height:30px;
}

.m-main-menu-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    background-color:#1F72BF;
    z-index:3;
    float:left;
    padding-left:50px;
    height: 25px;
}

.m-main-menu-navbar-separator,
.m-main-menu-navbar-item {
    height:19px;
    font-family:arial;
    font-size:12px;
    float: left;
    border: solid 1px transparent;
    padding: 4px 4px 0 4px;
    background-color: #FDFDFD;
    color: #1F72BF;
    
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.m-main-menu-navbar-separator,
.m-main-menu-navbar-item-clickable {
    background-color: #1F72BF;
    color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.m-main-menu-navbar-item-clickable:hover,
.m-main-menu-navbar-item-focused {
    cursor: hand;
    cursor: pointer;
    background: #fcfdff url("index.php/miolo/themes/smodern/images/button-hover.png") repeat-x bottom;
    color: #3c69a4;
    border: solid 1px #c0c0c0;
}

.dijitBackgroundIframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 0;
    padding: 0;
    margin: 0;
}

.m-main-menu-quickaccess {
    position:fixed;
    right:0;
    top:0;
    z-index:5;
    height:24px;
}

.m-main-menu-quickaccess .m-label {
    color:#FFF;
    padding:2px 4px 0 4px;
    font-weight:bold;
}

.m-main-menu-quickaccess span {
    float:left;
    vertical-align:middle;
    line-height:18px;
    margin-left:4px;
    margin-right:4px;
}

.xdebug-var-dump {
    text-align: left;
    margin-top: 100px;
}

.site #m-container-top {
    display:none;
}

.site #extBottom {
    display:none;
}

.site {
    background-image: none;
}

.site #m-loading-message-bg , .site #mPopupBackground {
 background:rgba(255, 255, 255, 0.3);  
}

