/**
 * <--- Copyright 2012 de Solis - Cooperativa de Solu��es Livres Ltda.
 *
 * Este arquivo � parte do programa Sagu.
 *
 * O Sagu � um software livre; voc� pode redistribu�-lo e/ou modific�-lo
 * dentro dos termos da Licen�a P�blica Geral GNU como publicada pela Funda��o
 * do Software Livre (FSF); na vers�o 2 da Licen�a.
 *
 * Este programa � distribu�do na esperan�a que possa ser �til, mas SEM
 * NENHUMA GARANTIA; sem uma garantia impl�cita de ADEQUA��O a qualquer MERCADO
 * ou APLICA��O EM PARTICULAR. Veja a Licen�a P�blica Geral GNU/GPL em
 *
 * Voc� deve ter recebido uma c�pia da Licen�a P�blica Geral GNU, sob o t�tulo
 * "LICENCA.txt", junto com este programa, se n�o, acesse o Portal do Software
 * P�blico Brasileiro no endere�o www.softwarepublico.gov.br ou escreva para a
 * Funda��o do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston,
 * MA 02110-1301, USA --->
 *
 * Tema SModern.
 *
 * @author Daniel Hartmann [daniel@solis.coop.br]
 *
 * \b Maintainers: \n
 * Armando Taffarel Neto [taffarel@solis.coop.br]
 * Daniel Hartmann [daniel@solis.coop.br]
 *
 * @since
 * Class created on 06/01/2012
 */

/**
 * m_common.css
 */
body {
    background:url("images/fundo-site.png") repeat scroll 0 0 transparent;
}

#m-loading-message-image {
    background-image: url(../../images/loading_solis1.gif);
}

fieldset {
    background-image: url(images/bg-conteudo.png);
}

.m-main-menu-navbar-item-clickable:hover,
.m-main-menu-navbar-item-focused {
    background-image: url(images/button-hover.png);
}

/**
 * m_boxes.css
 */
 .m-box-title {
     background-image: url(images/formheader-background.png);
 }
 
.m-prompt-box-title-error,
.m-prompt-box-title-information,
.m-prompt-box-title-alert,
.m-prompt-box-title-question {
    background-image: url(images/shadow.png);
}

.m-prompt-box-text li {
    background-image: url(../../images/bullet.gif);
}

.m-prompt-box-error {
    background-image: url(../../images/error.png);
}

.m-prompt-box-information {
    background-image: url(../../images/information.png);
}

.m-prompt-box-alert {
    background-image: url(../../images/alert.png);
}

.m-prompt-box-confirmation,
.m-prompt-box-question {
    background-image: url(../../images/question.png);
}

.m-panel-body {
    background-image: url(images/bg-conteudo.png);
}

/**
 * m_controls.css
 */
.m-text-field {
    background-image: url("images/validation-input-bg.png");
}

.m-text-user-field {
    background-image: url(../../images/user.png);
}

.m-text-passwd-field {
    background-image: url(../../images/keys.png);
}

.m-button,
.m-button:hover,
.m-button:active {
    background-image: url(images/shadow.png);
}

.m-button-find,
.m-button-find:hover,
.m-button-find:active {
    background-image: url(../../images/button_select.png);
}

.m-button-close-up {
    background-image: url(../../images/button_close_up.gif);
}

.m-button-close-down {
    background-image: url(../../images/button_close_down.gif);
}

.m-button-minimize-up {
    background-image:  url(../../images/button_minimize_up.gif);
}

.m-button-help-up {
    background-image:  url(../../images/button_help_up.png);
}

.m-button-help-down {
    background-image:  url(../../images/button_help_down.png);
}

.m-tableraw-title {
    background-image:url(images/shadow.png);
}

.m-tableraw-column-title,
.m-tableraw-row-0:hover,
.m-tableraw-row-1:hover {
    background-image: url(images/formheader-background.png);
}

.m-popup-close {
    background-image: url(../../images/spriteRoundedIconsSmall.png);
}

/**
 * m_dhtmlmenu2_office2003.css
 */
.ThemeOffice2003SubMenu {
    background:	#d9dcff url(../../images/menubg.gif) repeat-y scroll 0%;
}

.ThemeOffice2003MenuItemHover,.ThemeOffice2003MenuItemActive {
    background-image: url(../../images/menubg.gif) repeat-y scroll 0%;
}

.ThemeOffice2003MainFolderLeft,.ThemeOffice2003MainItemLeft,
.ThemeOffice2003MainFolderText,.ThemeOffice2003MainItemText,
.ThemeOffice2003MainFolderRight,.ThemeOffice2003MainItemRight,
.ThemeOffice2003MainItem {
    background-image: url(images/shadow.png);
}

/**
 * m_forms.css
 */
.m-step-icon {
    background-image: url(../../images/button_steps.png);
}

.m-form-body {
    background-image: url(images/bg-conteudo.png);
}

/**
 * m_grids.css
 */
.m-grid-column-heading,
.m-grid-row-1:hover,
.m-grid-row-2:hover {
    background-image: url(images/formheader-background.png);
}

.m-grid-action-icon-edit-on {
    background-image: url(../../images/button_edit.png);
}

.m-grid-action-icon-delete-on {
    background-image: url(../../images/button_drop.png);
}

.m-grid-action-icon-select-on {
    background-image: url(../../images/button_select.png);
}

.m-grid-action-icon-find-on {
    background-image: url(../../images/find.png);
}

.m-grid-action-icon-print-on {
    background-image: url(../../images/print.png);
}

.m-grid-action-icon-close-on {
    background-image: url(../../images/close.png);
}

.m-grid-action-icon-gradesTyping-on {
    background-image: url(../../images/gradesTyping-on.png);
}

.m-grid-action-icon-frequency-off {
    background-image: url(../../images/frequency-off.png);
}

.m-grid-action-icon-evaluationDefinition-on {
    background-image: url(../../images/evaluationDefinition-on.png);
}

.m-grid-action-icon-evaluationDefinition-off {
    background-image: url(../../images/evaluationDefinition-off.png);
}

.m-grid-action-icon-sendemail-on {
    background-image: url(../../images/button_sendemail.png);
}

.m-grid-action-icon-sendemail-off {
    background-image: url(../../images/button_sendemail_disable.png);
}

.m-grid-action-icon-enroll-on {
    background-image: url(../../images/enroll-22x22.png);
}

.m-grid-action-icon-enrollAdjust-on {
    background-image: url(../../images/enrollAdjust-22x22.png);
}

.m-grid-action-icon-grades-on {
    background-image: url(../../images/register-16x16.png);
}

.m-grid-action-icon-grades-off {
    background-image: url(../../images/register-16x16_disable.png);
}

.m-grid-action-icon-default-on { 
    background-image: url(../../images/default-16x16.png); 
}
.m-grid-action-icon-default-off { 
    background-image: url(../../images/default-16x16_disable.png); 
}

/**
 * m_help.css
 */
#header {
    background-image: url("../../images/help_top_midlle.png");
}

/**
 * m_themeelement.css
 */
.m-menu-box li a.m-menu-link {
    background-image: url(../../images/bullet.gif);
}

.m-submenu-box li a.m-menu-link {
    background-image: url(../../images/seta.jpg);
}

.m-statusbar {
    background-image: url(images/formheader-background.png);
}

.m-bookmark-image,
.m-bookmark-statusbar {
    background-image: url(images/bookmarks.png);
}

.m-mostaccessed-statusbar {
    background-image: url(images/mostAccessed.png);
}

.m-unit-statusbar {
    background-image: url(images/unit.png);
}


/**
 * s_calendar.css
 */
.s-calendar-title,
.s-calendar-column-title,
.s-calendar-row-0:hover,
.s-calendar-row-1:hover,
.s-calendar-cell {
    background-image: url(images/shadow.png);
}

/**
 * miolo.css
 */
#toolBar, #toolbar {
    background-image: url(images/fundo-menu-principal.png);
}

.dijitMenuArrowCell .dijitMenuExpand {
    background-image: url(images/arrow-new.png);
}

.dijitMenu .dijitMenuItem:hover .dijitMenuExpand {
    background-image: url(images/arrow-new-hover.png);
}

.dijitCalendarDecrease,
.dijitCalendarIncrease {
    background-image: url(../../images/spriteRoundedIconsSmall.png);
}

.m-toolbar-button:hover {
    background-image: url(images/button-hover.png);
}

/**
 * dojo.css
 */
 .dijitCalendarIncrementControl {
     background-image: url(../../images/spriteRoundedIconsSmall.png);
 }
 