/**
 * <--- Copyright 2012 de Solis - Cooperativa de Solu��es Livres Ltda.
 *
 * Este arquivo � parte do programa Sagu.
 *
 * O Sagu � um software livre; voc� pode redistribu�-lo e/ou modific�-lo
 * dentro dos termos da Licen�a P�blica Geral GNU como publicada pela Funda��o
 * do Software Livre (FSF); na vers�o 2 da Licen�a.
 *
 * Este programa � distribu�do na esperan�a que possa ser �til, mas SEM
 * NENHUMA GARANTIA; sem uma garantia impl�cita de ADEQUA��O a qualquer MERCADO
 * ou APLICA��O EM PARTICULAR. Veja a Licen�a P�blica Geral GNU/GPL em
 *
 * Voc� deve ter recebido uma c�pia da Licen�a P�blica Geral GNU, sob o t�tulo
 * "LICENCA.txt", junto com este programa, se n�o, acesse o Portal do Software
 * P�blico Brasileiro no endere�o www.softwarepublico.gov.br ou escreva para a
 * Funda��o do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston,
 * MA 02110-1301, USA --->
 *
 * Tema SModern.
 *
 * @author Daniel Hartmann [daniel@solis.coop.br]
 *
 * \b Maintainers: \n
 * Armando Taffarel Neto [taffarel@solis.coop.br]
 * Daniel Hartmann [daniel@solis.coop.br]
 *
 * @since
 * Class created on 06/01/2012
 *
*/

/******************************************************************************
 * KENOBI - theme.css
 ******************************************************************************/

/******************************************************************************
 * Grid
 ******************************************************************************/
.m-grid-box {
    background-color:#ededed;
    font-size:11px;
    border:1px solid silver;
    text-align:left;
}

.m-grid-font {
    color:#000;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
}

.m-grid-title {
    background-color:silver;
    color:#000;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
    width:100%;
    margin:0 auto;
    padding:0;
}

.m-grid-link {
    color:#000;
    font-weight:400;
    font-size:11px;
    text-decoration:underline;
}

.m-grid-link:hover {
    color:#4052ff;
    font-weight:400;
    text-decoration:underline;
}

.m-grid-info {
    color:#000;
    background-color:#fff;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
}

.m-grid-body {
    background-color:#fff;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
    width:100% !important;
    height:100% !important;
}

.m-grid-navigation {
    background-color:#fff;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
    height:26px;
    line-height:22px;
    position:inherit;
    vertical-align:middle;
}

.m-grid-navigation .m-grid-export-div,.m-grid-navigation .m-pagenavigator-image {
    margin:4px;
}

.m-grid-header-link {
    background-color:#fff;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
    height:20px;
    text-align:center;
    border:1px solid #4052ff;
    padding:4px;
}

.m-grid-filter {
    background-color:#ededed;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
    padding:4px;
}

.m-grid-filter span {
    vertical-align:top;
}

.m-grid-controls {
    background-color:#ededed;
    font-size:11px;
    height:25px;
    padding:2px;
}

.m-grid-attention {
    color:#4052ff;
    font-weight:700;
    background-color:#fff;
    font-size:11px;
    text-align:center;
    padding:2px;
}

.m-grid-row-heading {
    background-color:#fff;
    height:20px;
}

.m-grid-column-heading {
    background:#2f4f4f url(index.php/miolo/themes/smodern/images/formheader-background.png) repeat-x;
    text-align:center;
    color:#000;
    font-weight:700;
    font-size:11px;
    vertical-align:middle;
}

.m-grid-column-order {
    font-weight:700;
    color:#FFF;
    text-align:center;
    text-decoration:underline;
}

.m-grid-column-link {
    font-weight:400;
    font-size:11px;
    color:#000;
    text-decoration:underline;
    padding:2px;
}

.m-grid-row-1 {
    background-color:#fff;
    color:#000;
    height:15px;
}

.m-grid-row-1:hover {
    background:#92beff url(index.php/miolo/themes/smodern/images/formheader-background.png) repeat-x;
    color:#000;
    height:15px;
}

.m-grid-row-1-checked {
    background-color:#99f;
    color:#000;
    height:15px;
}

.m-grid-row-2 {
    background-color:#DFEFFF;
    color:#000;
    height:15px;
    border:1px solid #fff;
}

.m-grid-row-2:hover {
    background:#92beff url(index.php/miolo/themes/smodern/images/formheader-background.png) repeat-x;
    color:#000;
    height:15px;
    border:1px solid #fff;
}

.m-grid-row-2-checked {
    background-color:#CCF;
    color:#000;
    height:15px;
}

.m-grid-column {
    padding:3px;
}

.m-grid-footer {
    color:#000;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
}

.m-grid-action-icon {
    border:0;
    margin-left:1px;
    padding-left:1px;
    display:block;
    text-decoration:none;
}

.m-grid-action-icon-edit-on {
    background-image:url(index.php/miolo/themes/smodern/images/button_edit.png);
}

.m-grid-action-icon-edit-off {
    background-image:url(index.php/miolo/themes/smodern/images/button_edit_disable.png);
}

.m-grid-action-icon-delete-on {
    background-image:url(index.php/miolo/themes/smodern/images/button_drop.png);
}

.m-grid-action-icon-delete-off {
    background-image:url(index.php/miolo/themes/smodern/images/button_drop_disable.png);
}

.m-grid-action-icon-select-on {
    background-image:url(index.php/miolo/themes/smodern/images/button_select.png);
}

.m-grid-action-icon-add-on {
    background-image:url(index.php/miolo/themes/smodern/images/button_add.png);
}

.m-grid-action-icon-add-off {
    background-image:url(index.php/miolo/themes/smodern/images/button_add_disable.png);
}

.m-grid-action-icon-find-on {
    background-image:url(index.php/miolo/themes/smodern/images/find.png);
}

.m-grid-action-icon-find-off {
    background-image:url(index.php/miolo/themes/smodern/images/find_disable.png);
}

.m-grid-action-icon-print-on {
    background-image:url(index.php/miolo/themes/smodern/images/print.png);
}

.m-grid-action-icon-print-off {
    background-image:url(index.php/miolo/themes/smodern/images/print_disable.png);
}

.m-grid-action-icon-internalPrint-on {
    background-image:url(index.php/miolo/themes/smodern/images/internalPrint.png);
}

.m-grid-action-icon-internalPrint-off {
    background-image:url(index.php/miolo/themes/smodern/images/internalPrint.png);
}

.m-grid-action-icon-close-on {
    background-image:url(index.php/miolo/themes/smodern/images/close.png);
}

.m-grid-action-icon-close-off {
    background-image:url(index.php/miolo/themes/smodern/images/close_disable.png);
}

.m-grid-action-icon-gradesTyping-on {
    background-image:url(index.php/miolo/themes/smodern/images/gradesTyping-on.png);
}

.m-grid-action-icon-gradesTyping-off {
    background-image:url(index.php/miolo/themes/smodern/images/gradesTyping-off.png);
}

.m-grid-action-icon-frequency-on {
    background-image:url(index.php/miolo/themes/smodern/images/frequency-on.png);
}

.m-grid-action-icon-frequency-off {
    background-image:url(index.php/miolo/themes/smodern/images/frequency-off.png);
}

.m-grid-action-icon-evaluationDefinition-on {
    background-image:url(index.php/miolo/themes/smodern/images/evaluationDefinition-on.png);
}

.m-grid-action-icon-evaluationDefinition-off {
    background-image:url(index.php/miolo/themes/smodern/images/evaluationDefinition-off.png);
}

.m-grid-action-icon-sendemail-on {
    background-image:url(index.php/miolo/themes/smodern/images/button_sendemail.png);
}

.m-grid-action-icon-sendemail-off {
    background-image:url(index.php/miolo/themes/smodern/images/button_sendemail_disable.png);
}

.m-grid-action-icon-enroll-on {
    background-image:url(index.php/miolo/themes/smodern/images/enroll-22x22.png);
}

.m-grid-action-icon-enrollAdjust-on {
    background-image:url(index.php/miolo/themes/smodern/images/enrollAdjust-22x22.png);
}

.m-grid-action-icon-grades-on {
    background-image:url(index.php/miolo/themes/smodern/images/register-16x16.png);
}

.m-grid-action-icon-grades-off {
    background-image:url(index.php/miolo/themes/smodern/images/register-16x16_disable.png);
}

.m-grid-export-div {
    float:left;
    margin-left:10px;
    margin-top:2px;
}

.m-grid-action-icon-default-on {
    background-image:url(index.php/miolo/themes/sred/images/default-16x16.png);
}

.m-grid-action-icon-default-off {
    background-image:url(index.php/miolo/themes/sred/images/default-16x16_disable.png);
}

.m-grid-head {
    background-color:#FFF;
}

/*************** REVISAR ***************
*****************************************************************************
 * Grid
 ******************************************************************************/
.m-grid {
    font-size:11px;
    text-align:left;
    margin:8px;
}

.m-grid .m-grid-font {
    color:#333;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
}

.m-grid .m-grid-title {
    background-color:silver;
    color:#333;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
    width:100%;
    margin:0 auto;
    padding:0;
}

.m-grid .m-grid-link {
    color:#333;
    font-weight:400;
    font-size:11px;
    text-decoration:underline;
}

.m-grid .m-grid-detail {
    color:#333;
    font-weight:400;
    font-size:11px;
    text-decoration:underline;
    cursor:'#';
}

.m-grid .m-grid-link:hover {
    color:#900;
    font-weight:400;
    text-decoration:underline;
}

.m-grid .m-grid-info {
    color:#333;
    background-color:#fff;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
}

.m-grid .m-grid-navigation {
    font-weight:400;
    font-size:11px;
    text-decoration:none;
    position:relative;
    background-image:none;
    background-repeat:repeat-x;
}

.m-grid .m-grid-navigation a {
    height:12px;
}

.m-grid .m-grid-navigation .m-grid-navigator-image-first-off a {
    height:16px;
}

.m-grid .m-grid-navigation .m-span a {
    height:16px;
    padding:0 2px;
}

.m-grid .m-grid-navigation .m-grid-navigator-images {
    float:right;
}

.m-grid .m-grid-header-link {
    background-color:#eee;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
    height:20px;
    text-align:center;
    padding:2px;
}

.m-grid .m-grid-filter {
    clear:both;
    float:left;
    background-color:#fff;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
    border-bottom:1px solid silver;
    padding:4px;
}

.m-grid .m-grid-controls {
    background-color:#FFF;
    font-weight:400;
    text-decoration:none;
    text-align:left;
    color:#333;
    font-size:11px;
    vertical-align:middle;
    padding:2px;
}

.m-grid .m-grid-attention {
    font-weight:700;
    background-color:#fff;
    font-size:11px;
    text-align:center;
    padding:2px;
}

/* Grid Body */
.m-grid .m-grid-body {
    float:left;
    border:none;
    padding:3px;
}

/* -grid -body - head */
.m-grid .m-grid-body thead tr th.select {
    text-align:center;
    height:15px;
    overflow:hidden;
}

.m-grid .m-grid-body thead tr th.order,.m-grid .m-grid-body thead tr th,.m-grid-column-heading {
    text-align:center;
    vertical-align:middle;
    border:solid 1px #FFF;
    color:#FFF;
    padding:5px;
}

.m-grid .m-grid-body thead tr th .order {
    text-decoration:none;
    font-weight:700;
    color:#FFF;
    padding:0;
}

.m-grid .m-grid-body thead tr th span {
    font-weight:700;
    display:block;
    overflow:hidden;
    color:#FFF;
    text-decoration:none;
    font-size:11px;
}

.m-grid .m-grid-body thead tr th.action {
    background-color:#2B92CE;
    text-align:center;
    border-left:solid 1px #FFF;
    padding:5px;
}

.m-grid .m-grid-bodythead tr th.btn {
    background-color:#2B92CE;
    text-align:center;
    vertical-align:middle;
    border-left:solid 1px #FFF;
    color:#FFF;
    width:10px;
    padding:5px;
}

.m-grid .m-grid-body thead tr th.data span {
    padding-left:3px;
}

.m-grid .m-grid-body thead tr th span.select {
    padding-left:0;
    height:15px;
}

.m-grid .m-grid-body thead tr th.linkbtn {
    width:10px;
}

.m-grid .m-grid-body thead tr th.grid_select {
    width:17px;
}

/* -grid -body - body */
.m-grid .m-grid-body tbody tr td {
    height:100%;
    margin:0;
    padding:0;
}

.m-grid .m-grid-body tbody tr td.detail {
    width:50px;
    padding:0;
}

.m-grid .m-grid-body tbody tr td.btn {
    background-color:#ededed;
    text-align:center;
    vertical-align:middle;
    border-bottom:1px solid silver;
    border-left:1px solid silver;
    border-right:1px solid silver;
    background-repeat:repeat-x;
    color:#FFF;
    width:10px;
    height:100%;
    padding:0;
}

.m-grid .m-grid-body tbody tr td.btn .grid_select {
    background-image:url(index.php/miolo/themes/smodern/images/lookup_select.png);
    background-repeat:no-repeat;
    font-weight:400;
    display:block;
    overflow:hidden;
    width:15px;
    cursor:pointer;
}

.m-grid .m-grid-body tbody tr {
    color:#333;
}

.m-grid .m-grid-body tbody tr.row0,.m-grid .m-grid-body tbody tr.row1 {
    background-color:#fff;
}

.m-grid .m-grid-body tbody tr.row2 {
    background-color:#efefef;
}

.m-grid .m-grid-body tbody tr.row0checked,.m-grid .m-grid-body tbody tr.row0:hover,.m-grid .m-grid-body tbody tr.row1checked,.m-grid .m-grid-body tbody tr.row1:hover,.m-grid .m-grid-body tbody tr.row2checked,.m-grid .m-grid-body tbody tr.row2:hover {
    background-color:#cfecfe;
}

.m-grid .m-grid-body tbody td.action {
    text-align:center;
    border-bottom:1px solid silver;
    padding:0 1px;
}

.m-grid .m-grid-body tbody td.select {
    text-align:center;
    padding:0;
}

.m-grid .m-grid-body tbody td.data {
    border:none;
    border-bottom:1px solid silver;
    border-left:1px solid #fff;
    border-right:1px solid silver;
    border-top:1px solid #fff;
    padding:5px;
}

.m-grid .m-grid-body tbody td div.detail {
    width:45px;
    padding:0;
}

.m-grid .m-grid-body tbody tr.detail {
    height:0;
    padding:0;
}

.m-grid .m-grid-action-icon img {
    font-weight:400;
    font-size:11px;
    border:none;
    padding:3px;
}

.m-grid .m-grid-action-icon img:hover {
    outline:solid 1px silver;
    background-color:#fff;
    padding:2px;
}

.m-grid .m-box-title {
    z-index:1;
    display:block;
}

.m-grid .m-box-title .m-box-title-caption {
    text-align:left;
    font-size:12px;
    padding-left:4px;
}

.m-lookup-grid {
    margin:0 !important;
}

.m-grid-action-icon-detail {
    cursor:hand;
}

/******************************************************************************
 * Grid Navigator
 ******************************************************************************/
.m-grid-navigator-text {
    color:#333;
    font-weight:400;
    font-size:11px;
    vertical-align:top;
}

.m-grid-navigator-range {
    color:#333;
    font-weight:400;
    font-size:11px;
}

.m-grid-navigator-selected {
    font-weight:700;
    font-size:11px;
    text-decoration:none;
    margin-left:5px;
    vertical-align:top;
}

.m-grid-navigator-link {
    color:#333;
    font-weight:400;
    font-size:11px;
    text-decoration:underline;
    margin-left:5px;
    vertical-align:top;
}

.m-grid-navigator-link:active,.m-grid-navigator-link:hover {
    color:#287eb0;
    font-weight:400;
    text-decoration:underline;
}

.m-grid-navigator-image {
    vertical-align:middle;
    text-decoration:none;
}

.m-grid-navigator-images .m-grid-navigator-image {
    float:left;
    padding-left:15px;
    color:#000;
}

.m-grid-navigation-control {
    float:left;
    width:16px;
    height:12px;
    text-align:center;
}

.m-grid-navigation-control * {
    text-align:center;
}

.m-grid-navigator-image-first-on {
    background:url(index.php/miolo/themes/smodern/images/gridnavigator.png) no-repeat top left;
    background-position:0 -84px;
    height:12px;
}

.m-grid-navigator-image-first-off {
    background:url(index.php/miolo/themes/smodern/images/gridnavigator.png) no-repeat top left;
    background-position:0 -72px;
    height:12px;
}

.m-grid-navigator-image-prev-on {
    background:url(index.php/miolo/themes/smodern/images/gridnavigator.png) no-repeat top left;
    background-position:0 -60px;
    height:12px;
}

.m-grid-navigator-image-prev-off {
    background:url(index.php/miolo/themes/smodern/images/gridnavigator.png) no-repeat top left;
    background-position:0 -48px;
    height:12px;
}

.m-grid-navigator-image-next-on {
    background:url(index.php/miolo/themes/smodern/images/gridnavigator.png) no-repeat top left;
    background-position:0 -36px;
    height:12px;
}

.m-grid-navigator-image-next-off {
    background:url(index.php/miolo/themes/smodern/images/gridnavigator.png) no-repeat top left;
    background-position:0 -24px;
    height:12px;
}

.m-grid-navigator-image-last-on {
    background:url(index.php/miolo/themes/smodern/images/gridnavigator.png) no-repeat top left;
    background-position:0 -12px;
    height:12px;
}

.m-grid-navigator-image-last-off {
    background:url(index.php/miolo/themes/smodern/images/gridnavigator.png) no-repeat top left;
    background-position:0 0;
    height:12px;
}

.m-grid-visible-columns {
    float:left;
    height:14px;
    width:16px;
    background:transparent url(index.php/miolo/themes/smodern/images/m-grid-visible-columns.png) repeat-x bottom;
    cursor:pointer;
    margin:2px 4px;
}

.m-grid-visible-columns-checked {
    height:16px;
    width:16px;
    background:transparent url(index.php/miolo/themes/smodern/images/m-grid-visible-columns-checks.png) repeat-x bottom;
    background-position:0;
}

.m-grid-visible-columns-unchecked {
    height:16px;
    width:16px;
    background:transparent url(index.php/miolo/themes/smodern/images/m-grid-visible-columns-checks.png) repeat-x bottom;
    background-position:-16px;
}

.m-grid-title-caption,.m-grid .m-grid-title .m-grid-title-caption {
    text-align:left;
    padding-top:2px;
    float:left;
    width:80%;
}

.m-grid-title-icon,.m-grid .m-grid-title .m-grid-title-icon {
    float:left;
    padding-top:2px;
    padding-left:2px;
    width:20px;
}

.m-grid-title-button,.m-grid .m-grid-title .m-grid-title-button {
    float:right;
    padding-right:2px;
    width:20px;
    text-align:right;
}

.m-grid-link-disable,.m-grid .m-grid-link-disable {
    color:#999;
    font-weight:400;
    font-size:11px;
    text-decoration:underline;
}

.m-grid-link:link,.m-grid-link:visited,.m-grid-link:active {
    color:#000;
    font-weight:400;
    text-decoration:underline;
}

.m-grid-action,.m-grid .m-grid-action,.m-grid .m-grid-body thead tr th.data,.m-grid .m-grid-body thead tr th span.tall {
    height:15px;
}

.m-grid .m-grid-link-action-default,.m-grid-navigation-control:hover,.m-grid-navigator-images *:hover {
    text-decoration:none;
}

.m-grid .m-grid-link:link,.m-grid .m-grid-link:visited,.m-grid .m-grid-link:active,.m-grid-navigator-link:link,.m-grid-navigator-link:visited {
    color:#333;
    font-weight:400;
    text-decoration:underline;
}

.m-grid .m-grid-navigation .m-grid-navigator-links,.m-grid-navigator-images .m-grid-navigator-range {
    float:left;
}

.m-grid .m-grid-body thead tr th .order:hover,.m-grid-navigator-image:hover {
    text-decoration:underline;
}

.m-grid .m-grid-body thead tr th.btn .linkbtn,.m-grid .m-grid-body tbody tr td.btn .linkbtn {
    font-weight:400;
    display:block;
    overflow:hidden;
    width:8px;
}

.m-grid-action-icon-off {
    opacity:0.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter:alpha(opacity=30);
}