/**
 * <--- Copyright 2012 de Solis - Cooperativa de Solu��es Livres Ltda.
 *
 * Este arquivo � parte do programa Sagu.
 *
 * O Sagu � um software livre; voc� pode redistribu�-lo e/ou modific�-lo
 * dentro dos termos da Licen�a P�blica Geral GNU como publicada pela Funda��o
 * do Software Livre (FSF); na vers�o 2 da Licen�a.
 *
 * Este programa � distribu�do na esperan�a que possa ser �til, mas SEM
 * NENHUMA GARANTIA; sem uma garantia impl�cita de ADEQUA��O a qualquer MERCADO
 * ou APLICA��O EM PARTICULAR. Veja a Licen�a P�blica Geral GNU/GPL em
 *
 * Voc� deve ter recebido uma c�pia da Licen�a P�blica Geral GNU, sob o t�tulo
 * "LICENCA.txt", junto com este programa, se n�o, acesse o Portal do Software
 * P�blico Brasileiro no endere�o www.softwarepublico.gov.br ou escreva para a
 * Funda��o do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston,
 * MA 02110-1301, USA --->
 *
 * Tema SModern.
 *
 * @author Daniel Hartmann [daniel@solis.coop.br]
 *
 * \b Maintainers: \n
 * Armando Taffarel Neto [taffarel@solis.coop.br]
 * Daniel Hartmann [daniel@solis.coop.br]
 *
 * @since
 * Class created on 06/01/2012
 *
 */

@media print  {
    .m-topmenu-link:active,.m-topmenu-link:hover,.m-topmenu-link:link,.m-topmenu-link:visited,.m-topmenu-link,.m-topmenu-current,.m-topmenu-box:hover ul:hover li:hover .m-menu-link:hover,.m-topmenu-box ul li .m-menu-link,.m-topmenu-box ul li,.m-topmenu-box ul,.m-topmenu-box li,.m-topmenu-box {
        color:#333 !important;
    }
}

/******************************************************************************
 * gtkTheme - theme.css
 *****************************************************************************
*****************************************************************************
 * topMenu
 ******************************************************************************/
.m-topmenu-box {
    background-color:#2f4f4f;
    font-size:10px;
    font-weight:400;
    text-align:left;
    color:#fff;
    margin:0;
    padding:2px;
}

.m-topmenu-box li {
    padding-left:5px;
    color:#2B92CE;
}

.m-topmenu-box ul {
    list-style:none;
    color:#2B92CE;
    margin:0;
    padding:0;
}

.m-topmenu-box ul li {
    display:inline;
    color:#2B92CE;
}

.m-topmenu-current {
    font-size:15px;
    font-weight:700;
    padding:0 6px;
}

.m-topmenu-link {
    text-decoration:none;
    color:#2B92CE;
}

.m-topmenu-link:link,.m-topmenu-link:visited {
    color:#2B92CE;
}

/******************************************************************************
 * Menu e submenu
 ******************************************************************************/
.m-menu-box {
    background-color:#eee;
    width:100%;
    font:menu;
    margin:0;
    padding:3px 0;
}

.m-menu-box li a.m-menu-link {
    color:#000;
    font-weight:400;
    font-size:10px;
    padding-left:14px;
    background-image:url(../../images/bullet.gif);
    background-repeat:no-repeat;
    background-position:.5em .5em;
    text-decoration:none;
}

.m-menu-box li div.m-menu-title {
    color:#000;
    font-weight:700;
    font-size:11px;
    text-align:center;
    background-color:#D0D0D0;
    border-top:2px solid #999;
    padding:2px;
}

.m-menu-box li div.hr {
    background-color:#999;
}

.m-menu-box ul li {
    width:100%;
    margin:1px 0;
}

.m-menu-box li /*a.m-menu-link:hover*/ {
    color:#000;
    font-weight:400;
    font-size:10px;
    text-decoration:underline;
}

.m-menu-box li /*a.m-menu-link:active*/ {
    color:#4052ff;
    font-weight:400;
    font-size:10px;
    text-decoration:underline;
}

.m-submenu-box {
    margin-left:15px;
    background-color:#eee;
    padding:0;
}

.m-submenu-box li a.m-menu-link {
    padding-left:10px;
    background-image:url(index.php/miolo/themes/smodern/images/seta.jpg);
    background-repeat:no-repeat;
    background-position:0 .3em;
}

.m-submenu-title {
    color:#333;
    font-weight:700;
    font-size:9px;
    text-decoration:none;
    text-align:center;
    background-color:#ccc;
    vertical-align:top;
}

.m-submenu-text {
    color:#000;
    font-weight:400;
    font-size:10px;
    text-decoration:none;
    margin-left:16px;
}

/******************************************************************************
 * statusBar
 ******************************************************************************/
.m-statusbar {
    background:#2f4f4f url(index.php/miolo/themes/smodern/images/formheader-background.png) repeat-x;
    width:100%;
    height:14px;
    position:absolute;
    left:0;
    bottom:0;
    margin:0;
    padding:5px 0;
    font-family: arial;
}

.m-statusbar li {
    border:#67b0d4 solid 1px;
    text-align:left;
    font-size:10px;
    font-weight:400;
    color:#fff;
    cursor:default;
    margin:0;
    padding:2px 20px 4px 2%;
}

.m-statusbar ul {
    list-style:none;
    text-align:center;
    margin:0;
    padding:0;
}

.m-bookmark-image {
    background-image: url(index.php/miolo/themes/smodern/images/bookmarks.png);
    width: 16px;
    height: 16px;
}

.m-bookmark-add-remove {
    background-image: url(index.php/miolo/themes/smodern/images/bookmarks-add-remove.png);
    width: 16px;
    height: 16px;
}

.m-bookmark-statusbar {
    background: url(index.php/miolo/themes/smodern/images/bookmarks.png) 7px 7px no-repeat;
    color: #fff; 
    position: relative;
    float: left;
    line-height: 30px;
    border: #4e94b5 solid 1px;
    padding: 0 10px 0 30px;
}

.m-mostaccessed-statusbar {
    background: url(index.php/miolo/themes/smodern/images/mostAccessed.png) 7px 7px no-repeat;
    color: #fff;
    position: relative;
    float: left;
    line-height: 30px;
    border: #4e94b5 solid 1px;
    padding: 0 10px 0 30px;
}

.m-unit-statusbar {
    background: url(index.php/miolo/themes/smodern/images/unit.png) 7px 7px no-repeat;
    color: #fff;
    position: relative;
    float: left;
    line-height: 30px;
    border: #4e94b5 solid 1px;
    padding: 0 10px 0 30px;
}

.m-mostaccessed-statusbar:hover,
.m-bookmark-statusbar:hover,
.m-unit-statusbar:hover{
    background-color: #427EC0;
    border: #8acbec solid 1px;
    cursor: hand;
    cursor: pointer;
    color: #fff;
}

.m-statusbar .dijitArrowButtonInner {
    display:none;
}

.m-statusbar {
    position: absolute;
    height: 30px;
    left:0;
    bottom: 0;
}

.m-statusbar-left .dijitDropDownButton {
    position: relative;
    top: -5px;
}

.m-statusbar-left .dijitDropDownButton:hover,
.m-statusbar span span {
    border: none;
}

.m-statusbar-left {
/*    width: 32%;*/
    float: left;
    text-align: left;
}

.m-statusbar-left span {
    font-size: 12px;
    border: 1px solid #C0C0C0;
}

.m-statusbar-left span:hover {
    font-size: 12px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.m-statusbar-right {
    color:#fff;
/*    width: 60%;*/
    float: right;
    text-align: right;
    padding: 0 20px 0 5px;
    margin: 0;
}

.m-statusbar-right span {
    color:#fff !important;
    font-size: 12px;
    line-height: 30px;
    padding: 0 10px;
}

.m-statusbar-right a {
    color:#fff !important;
}
.m-statusbar-right a:hover {
    background: none;
}

.m-statusbar-spacer {
    width: 10px;
}

/******************************************************************************
 * module-header
 ******************************************************************************/
.m-module-header {
    background-color:#f2f3ff;
    text-align:right;
    color:#333;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
}

/******************************************************************************
 * content-header
 ******************************************************************************/
.m-content-header {
    background-color:#fff;
    color:#333;
    font-weight:700;
    font-size:13px;
    text-decoration:none;
    margin:2px 0 5px;
}

/******************************************************************************
 * Theme
 ******************************************************************************/
.m-theme-body {
    font-size:12px;
    margin:0;
    padding:0;
}

.m-theme-content {
    font-size:11px;
    color:#000;
    font-weight:400;
    width:100%;
    vertical-align:top;
    text-align:center;
}

.m-theme-box {
    background-color:#d9deba;
    border:1px silver solid;
    -moz-border-radius:0.3em;
}

.m-theme-box .title {
    color:#000;
    font-weight:700;
    padding-left:2px;
    font-size:11px;
    text-decoration:none;
    height:15px;
    display:block;
}

* html .m-theme-box .title {
    margin-right:-3px;
}

.m-theme-box .content {
    background-color:#fff;
    font-size:11px;
    font-weight:400;
    margin:1px;
    padding:5px;
}

.themeTable {
    color:#000;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
}

.m-topmenu-box ul li .m-menu-link {
    color:#2B92CE;
    text-decoration:none;
}

.m-topmenu-link:link,.m-topmenu-box ul li,.m-topmenu-box ul li .m-menu-link {
    color:#FFF;
    font-weight:700;
    font-size:11px;
}

.m-menu-box li a.m-menu-link:link {
    color:#333;
    text-decoration:none;
}

.m-menu-box li a.m-menu-link:visited {
    text-decoration:none;
}

.m-menu-box li a.m-menu-link:hover,.m-menu-box li a.m-menu-link:active {
    text-decoration:underline;
}

.theme-table {
    color:#333;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
}

/******************************************************************************
 * Dialogs with IFrame (deprecated)
 ******************************************************************************/
.m-popup {
    overflow:hidden;
    border:0;
    border-style:none;
}

/******************************************************************************
 * -loading -message
 ******************************************************************************/
#m-loading-message {
    width:100%;
    height:100%;
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    right:1%;
    border:none;
    display:block;
}

#m-loading-message-bg {
    background-color:gray;
    opacity:0.1px;
    filter:alpha(opacity=10);
    top:0;
    left:0;
    right:1%;
    position:fixed;
    z-index:998;
    width:100%;
    height:100%;
    display:block;
    border:solid 1px #666;
}

#m-loading-message-image {
    width:10%;
    left:45%;
    top:35%;
    height:65px;
    position:absolute;
    border:2px solid silver;
    background-color:#FFF;
    background-image:url("index.php/miolo/themes/smodern/images/loading.gif");
    background-repeat:no-repeat;
    background-position:center 8px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    opacity:50px;
    margin-left:0;
    margin-top:2px;
    padding:10px;
}

#m-loading-message-text {
    top:0;
    opacity:1px;
    position:relative;
    margin-top:3px;
    font-size:12px;
    font-weight:700;
    padding-top:50px;
    margin-left:0;
    text-align:center;
    width:100%;
}

/******************************************************************************
 * statistics
 ******************************************************************************/
div.statistics {
    position:absolute;
    width:500px;
    left:10px;
    overflow:scroll;
    height:200px;
}

div.statistics .image {
    text-align:right;
}

div.statistics .text {
    background-color:#f7f7f7;
    border-top:solid #555 1pt;
    border-bottom:solid #fff 1pt;
    border-left:solid #555 1pt;
    border-right:solid #fff 1pt;
    vertical-align:top;
    font-size:10px;
    font-style:normal;
    font-weight:400;
    color:#333;
    padding:4pt;
}

/******************************************************************************
 * Messages
 ******************************************************************************/
.m-message {
    font-family:verdana, helvetica, arial, geneva, tahoma, sans-serif;
    background-repeat:no-repeat;
    background-position:5px 2px;
    font-size:12px;
    min-height:16px;
    margin:4px;
    padding:5px 5px 5px 35px;
}

.m-message-success {
    background-color:#00ff82;
    border:solid 1px #00c864;
    background-image:url(./images/success.png);
}

.m-message-information {
    background-color:#c8c8ff;
    border:solid 1px #3232ff;
    background-image:url(./images/info.png);
}

.m-message-error {
    background-color:#ff5050;
    border:solid 1px #c80000;
    background-image:url(./images/error.png);
    color:#FFF;
}

.m-message-warning {
    background-color:#ffff3c;
    border:solid 1px #ffb93c;
    background-image:url(./images/warning.png);
}

.m-topmenu-link:active,.m-topmenu-link:hover,.m-topmenu-box:hover ul:hover li:hover .m-menu-link:hover {
    color:#2B92CE;
    text-decoration:underline;
}

.m-menu-box ul,.m-submenu-box ul {
    list-style:none;
    margin:0;
    padding:0;
}

.m-menu-box li /*a.m-menu-link:link*/,.m-menu-box li /*a.m-menu-link:visited*/ {
    color:#000;
    font-weight:400;
    font-size:10px;
    text-decoration:none;
}

.m-menu-link:link,.m-menu-link:visited {
    color:#4052ff;
    font-weight:400;
    font-size:12px;
    text-decoration:none;
}

.m-menu-link:hover,.m-menu-link:active {
    color:#4052ff;
    font-weight:400;
    font-size:12px;
    text-decoration:underline;
}

.themeTableBody,.theme-table-body {
    background-color:#fff;
}