/**
 * <--- Copyright 2012 de Solis - Cooperativa de Solu��es Livres Ltda.
 *
 * Este arquivo � parte do programa Sagu.
 *
 * O Sagu � um software livre; voc� pode redistribu�-lo e/ou modific�-lo
 * dentro dos termos da Licen�a P�blica Geral GNU como publicada pela Funda��o
 * do Software Livre (FSF); na vers�o 2 da Licen�a.
 *
 * Este programa � distribu�do na esperan�a que possa ser �til, mas SEM
 * NENHUMA GARANTIA; sem uma garantia impl�cita de ADEQUA��O a qualquer MERCADO
 * ou APLICA��O EM PARTICULAR. Veja a Licen�a P�blica Geral GNU/GPL em
 *
 * Voc� deve ter recebido uma c�pia da Licen�a P�blica Geral GNU, sob o t�tulo
 * "LICENCA.txt", junto com este programa, se n�o, acesse o Portal do Software
 * P�blico Brasileiro no endere�o www.softwarepublico.gov.br ou escreva para a
 * Funda��o do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston,
 * MA 02110-1301, USA --->
 *
 * Tema SModern.
 * 
 * @author Daniel Hartmann [daniel@solis.coop.br]
 *
 * \b Maintainers: \n
 * Armando Taffarel Neto [taffarel@solis.coop.br]
 * Daniel Hartmann [daniel@solis.coop.br]
 *
 * @since
 * Class created on 06/01/2012
 */
 
/*****************************************************************************
 * Theme Structure
 ******************************************************************************/
.m-std-out {
    color:red;
    font-weight:700;
    z-index:100;
    position:absolute;
    top:0;
    background-color:#FF0;
}

.m-theme-body {
    font-size:12px;
    margin:0;
    padding:0;
}

.m-theme-content {
    font-size:11px;
    color:#333;
    font-weight:400;
    width:750px;
    vertical-align:top;
    text-align:center;
}

.m-theme-box {
    background-color:#ddd;
    border:1px #ccc solid;
}

.m-theme-box .title {
    color:#333;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
    height:15px;
    display:block;
}

/*** -tan hack for ie ***/
* html .m-theme-box .title {
    margin-right:-3px;
}

.m-theme-box .content {
    background-color:#fff;
    font-size:11px;
    font-weight:400;
    margin:1px;
    padding:5px;
}

.m-theme-container {
    width:100%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    border:none;
    overflow:auto;
}

.m-theme-container-top {
    position:fixed !important;
    top:0 !important;
    left:0 !important;
    background:blue;
    height:45px;
    width:100%;
    background-color:#1f72bf;
    color:#FFF;
    background-image:none;
    background-repeat:repeat-x;
    z-index:1;
    margin:0;
    padding:0;
}

.m-theme-container-module {
    font-size:11px;
    font-weight:700;
    text-align:right;
    padding:2px;
}

.banner {
    background-image:url(../images/banner.png);
    background-repeat:no-repeat;
    width:220px;
    padding-right:50px;
    height:100%;
    float:right;
}

.banner .icon {
    position:relative;
    top:18px;
    left:10%;
}

.banner .title {
    left:15%;
    margin-top:5px;
    color:#1664b2;
    font-weight:700;
    font-size:20px;
    position:relative;
    top:13px;
}

.banner .version {
    left:15%;
    margin-top:5px;
    color:#ff6c05;
    font-weight:700;
    font-size:20px;
    position:relative;
    top:13px;
}

.banner .comment-text {
    left:30%;
    color:#ff6c05;
    font-weight:700;
    font-family:times;
    position:relative;
    top:10px;
}

#m-theme-menus {
    position:fixed;
    z-index:5;
    top:0;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    height:20px;
}

#m-menu-box {
    position:fixed;
    top:0;
    left:0;
}

.m-theme-container-menu {
    float:left;
    background:menu;
    width:150px;
    padding:0;
}

.m-theme-container-content {
    float:left;
    width:580px;
    height:auto;
    text-align:left;
    position:relative;
    z-index:0;
    font:caption;
    font-weight:400;
    background:window;
    margin:8px;
}

.m-theme-container-ext {
    text-align:left;
    font:caption;
    font-weight:400;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:0;
    margin:0;
}

.m-theme-container-content-full {
    margin-top:50px;
    padding-bottom:50px;
}

.m-theme-container-content-full-ajax {
    text-align:left;
    font:caption;
    font-weight:400;
    height:100%;
    width:750px;
    z-index:0;
    margin:auto;
    padding:0;
}

.m-theme-container-content-popup {
    height:auto;
    text-align:left;
    position:relative;
    z-index:0;
    font:caption;
    font-weight:400;
    background:window;
}

.m-theme-container-bottom {
    font:status-bar;
    clear:both;
    text-align:center;
    position:fixed;
    bottom:0;
    height:20px;
    width:100%;
    z-index:1;
    background:#4790b4 url(../images/bg-header.jpg) top repeat-x;
}

.m-theme-container-minbar {
    width:750px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    text-align:left;
}

/******************************************************************************
 * Hyperlink
 ******************************************************************************/
.m-link {
    color:#333;
    font-weight:700;
    font-size:11px;
    text-decoration:underline;
}

/******************************************************************************
 * Images
 ******************************************************************************/
.m-image-centered {
    text-align:center;
    display:block;
}

.m-image-icon {
    vertical-align:middle;
    width:16px;
    height:16px;
    border:none;
    margin:2px;
    padding:0;
}

.m-image-link {
    text-decoration:none;
}

.m-image-label {
    color:#333;
    font-size:11px;
    text-align:center;
    display:block;
    margin:3px;
}

.m-image-link-label {
    color:#333;
    font-weight:400;
    font-size:11px;
    text-decoration:none;
}

readonly,.m-read-only,.m-read-only:hover,.m-read-only:focus {
    clear:both;
    color:#666;
    font-size:11px;
    background-color:#efefef;
}

#toolBar, #toolbar {
    width:100%;
    background:#FDFDFD url(../images/fundo-menu-principal.png) repeat-x bottom;
    border:0;
    font-weight:400;
    display:block;
    height:53px;
    position:fixed;
    top:22px;
    left:0;
    z-index:2;
    overflow:hidden;
    margin:0 0 15px 0;
    padding:6px 0 5px 80px;
    font-family:arial;
}

#m-toolbar {
    height:43px;
}

.m-toolbar-button {
    width:60px;
    border:solid 1px transparent;
    text-align:center;
    cursor:pointer;
    margin:auto;
    padding:2px;
    color:#444;
    padding:3px 2px 2px 0;
}

.m-toolbar-button:hover {
    color:#444;
    background:#fcfdff url(../images/button-hover.png) repeat-x bottom;
    margin-left:0;
    outline:0;
    border:solid 1px silver;
    text-decoration:underline;
}

.m-toolbar-button-disabled {
    width:60px;
    font-weight:400;
    cursor:default;
    margin:auto;
}

.m-toolbar-button .m-image-label {
    padding: 3px 0 0 0;
    text-align: center !important;
}

.m-toolbar-button .m-image-link-label:hover {
    color:#444;
}

.m-toolbar-button-disabled .m-image-label:hover {
    text-decoration:none;
    color:#444;
}

.m-toolbar-button-disabled:hover {
    text-decoration:none;
    background:none !important;
    border:solid 1px transparent;
}

.m-toolbar-button-disabled span {
    font-weight:400;
}

#mToolbarSpacer {
    width:100%;
    height:25px;
}

/******************************************************************************
 * TextTable
 ******************************************************************************/
.m-text-table {
    border-bottom:1px solid threedshadow;
    border-top:1px solid threedshadow;
    border-left:1px solid threedshadow;
    border-right:1px solid threedhighlight;
    font-size:11px;
}

.m-text-table .head tr {
    border-top:1px solid #666;
    border-left:1px solid #666;
    border-right:1px solid #666;
    height:15px;
}

.m-text-table .head tr th span.col-title {
    background-color:threedface;
    border-top:1px solid threedhighlight;
    border-right:1px solid threedshadow;
    border-left:1px solid threedhighlight;
    border-bottom:1px solid threedshadow;
    font-weight:400;
    padding-left:3px;
    padding-right:3px;
    display:block;
    overflow:hidden;
}

.m-text-table tr th {
    border-bottom:1px solid #666;
    border-right:1px solid #666;
    border-top:1px solid #666;
    height:15px;
    padding:0;
}

.m-text-table tr th.select {
    border-left:1px solid #666;
    width:10px;
}

.m-text-table .scroll {
    background-color:#FFF;
    overflow:scroll;
    overflow-x:hidden;
    font-weight:400;
}

.m-text-table .scroll .row0 {
    background-color:#fff;
    color:#333;
    cursor:default;
}

.m-text-table .scroll .row1 {
    background-color:#ddd;
    color:#333;
    cursor:default;
}

.m-text-table .scroll .hover {
    background-color:highlight;
    color:highlighttext;
    cursor:default;
}

.m-text-table .scroll table tr {
    height:15px;
    background-color:#666;
}

.m-text-table .scroll table tr td {
    padding-left:3px;
}

.m-text-table .scroll table tr td.select {
    border-bottom:1px solid #666;
    border-left:1px solid #666;
    border-right:1px solid #666;
    height:15px;
    width:10px;
    padding:0;
}

/******************************************************************************
 * Icons
 ******************************************************************************/
.icon-edit-on {
    background-image:url(themes/modern/images/button_edit.png);
}

.icon-edit-off {
    background-image:url(themes/modern/images/button_noedit.png);
}

.icon-delete-on {
    background-image:url(themes/modern/images/button_drop.png);
}

.icon-delete-off {
    background-image:url(themes/modern/images/button_drop_disable.png);
}

.icon-select-on {
    background-image:url(themes/modern/images/button_select.png);
}

.icon-detail-on {
    background-image:url(themes/modern/images/plus.gif);
}

.icon-detail-off {
    background-image:url(themes/modern/images/minus.gif);
}

/******************************************************************************
 * Dojo Classes
 ******************************************************************************/
.dijitTooltip,.dijitTooltip-dialog {
    height:10px;
}

.dijitTooltipContainer {
    background:infobackground;
    font:message-box;
    border:solid #666 1px;
    color:#666;
    height:10px;
    padding:0.45em 2px;
}

/* dijit.Dialog */
.m-theme-body .dijitDialog {
    border:3px solid #7-eabcd;
    -webkit-box-shadow:0 5px 10px #adadad;
    padding:0;
}

.m-theme-body .dijitDialog .dijitDialogTitle {
    border-top:none;
    border-left:none;
    border-right:none;
}

.m-theme-body .dijitDialog .dijitDialogCaneContent {
    min-width:600px;
    margin:-2px;
    padding:0;
}

.m-theme-body .dijitDialogTitleBar {
    background:#fafafa url("../images/title-bar.png") repeat-x top left;
    cursor:move;
    outline:0;
    padding:5px 6px 3px 2px;
}

.m-theme-body .dijitDialogTitle {
    font-weight:700;
    outline:0;
    padding:8px 12px;
}

.m-theme-body .dijitDialogCloseIcon {
    background:url("../images/sprite-rounded-icons-small.png") no-repeat right top;
    float:right;
    position:absolute;
    vertical-align:middle;
    right:6px;
    top:4px;
    height:15px;
    width:15px;
    cursor:pointer;
}

.dj_ie6 .m-theme-body .dijitDialogCloseIcon {
    background:url("../images/sprite-rounded-icons-small.gif") no-repeat right top;
}

.m-theme-body .dijitDialogContent {
    padding:8px;
}

.m-theme-body .dijitTooltip,.m-theme-body .dijitTooltip-dialog {
    background:transparent;
}

.dijitTooltipBelow {
    padding-top:13px;
}

.dijitTooltipAbove {
    padding-bottom:13px;
}

.m-theme-body .dijitTooltipContainer {
    height:auto;
    background:#fff url("../images/popup-menu-bg.gif") repeat-x bottom left;
    border:1px solid #7eabcd;
    -webkit-border-radius:6px;
    padding:3px;
}

.m-theme-body .dijitTooltipConnector {
    border:0;
    z-index:2;
}

.m-theme-body .dijitTooltipAbRight .dijitTooltipConnector {
    left:auto !important;
    right:3px;
}

.m-theme-body .dijitTooltipBelow .dijitTooltipConnector {
    top:0;
    left:3px;
    background:url("../images/tooltip-connector-up.png") no-repeat top left;
    width:16px;
    height:14px;
}

.dj_ie6 .m-theme-body .dijitTooltipBelow .dijitTooltipConnector {
    background-image:url("../images/tooltip-connector-up.gif");
}

.m-theme-body .dijitTooltipAbove .dijitTooltipConnector {
    bottom:0;
    left:3px;
    background:url("../images/tooltip-connector-down.png") no-repeat top left;
    width:16px;
    height:14px;
}

.dj_ie6 .m-theme-body .dijitTooltipAbove .dijitTooltipConnector {
    background-image:url("../images/tooltip-connector-down.gif");
    bottom:-3px;
}

.m-theme-body .dijitTooltipLeft {
    padding-right:14px;
}

.dj_ie6 .m-theme-body .dijitTooltipLeft {
    padding-left:15px;
}

.m-theme-body .dijitTooltipLeft .dijitTooltipConnector {
    right:0;
    bottom:7px;
    background:url("../images/tooltip-connector-right.png") no-repeat top left;
    width:16px;
    height:14px;
}

.dj_ie6 .m-theme-body .dijitTooltipLeft .dijitTooltipConnector {
    background-image:url("../images/tooltip-connector-right.gif");
}

.m-theme-body .dijitTooltipRight {
    padding-left:14px;
}

.m-theme-body .dijitTooltipRight .dijitTooltipConnector {
    left:0;
    bottom:7px;
    background:url("../images/tooltip-connector-left.png") no-repeat top left;
    width:16px;
    height:14px;
}

.dj_ie6 .m-theme-body .dijitTooltipRight .dijitTooltipConnector {
    background-image:url("../images/tooltip-connector-left.gif");
}

.dj_safari .m-theme-body .dijitPopup .dijitTooltipContainer,.dj_safari .m-theme-body .dijitPopup .dijitMenu {
    -webkit-box-shadow:0 5px 10px #adadad;
}

.m-theme-body .dijitPopup>div,.m-theme-body .dijitPopup>table {
    opacity:0.95px;
}

.dijitContentPane {
    overflow:hidden !important;
}

.dijitMenuArrowCell .dijitMenuExpand {
    background:url(../images/arrow-new.png);
    border-left:#ccc solid 1px;
    width:26px;
    height:26px;
    margin:0;
    padding:0;
}

.dijitMenu .dijitMenuItem:hover .dijitMenuExpand {
    background:url(../images/arrow-new-hover.png);
    border-left:#1C89BF solid 1px;
    width:26px;
    height:26px;
    margin:0;
    padding:0;
}

.dijitMenuArrowCell {
    margin:0;
    padding:0;
}

#__main-form_menu {
    background:transparent;
    border:transparent;
}

.dijitButtonNode {
    font-size:11px;
    font-weight:400;
    background-image:none;
    color:#000;
    text-align:center;
    border:1px solid transparent;
    background-color:transparent;
    margin:0;
}

.dijitButtonNode:hover {
    color:#1-f72-bf;
    text-decoration:underline;
    border:solid 1px #aaa;
    background-color:#fff;
    cursor:pointer;
}

.dijitButtonNode .dijitArrowButtonInner {
    background-image:url(../images/down.png);
    position:relative;
    margin:0;
}

.dijitButton,.dijitDropDownButton,.dijitComboButton {
    margin:0;
}

.dijitMenu {
    border:0;
    outline:1px solid #d3d3d3;
    background-color:#fff;
    margin:0;
    padding:0;
}

.dijitMenuItem {
    background-color:#fff;
    font:menu;
    color:#2f4f4f;
    text-align:left;
    white-space:normal;
    margin:0;
    border: 1px solid #eee;
}

.dijitMenu .dijitMenuItem td {
    line-height:13px;
    height:13px;
    padding:0 0 0 5px;
}

.dijitMenuItem td {
    padding:5px;
}

.dijitMenuItemHover, .dijitMenuItemSelected {
    background-color:#C2DFEF !important;
    outline:0;
    color:#2f4f4f !important;
}

.dijitMenuSeparator {
    background-color:#fff;
    height:1px;
}

.dijitMenuSeparatorTop {
    border-bottom:1px solid #fff;
}

.dijitMenuSeparatorBottom {
    border-top:1px solid #d3d3d3;
}

.dijitMenuExpandA11y {
    display: none;
}

.m-image-new {
    background-image:url(../images/new.png);
}

.m-image-save {
    background-image:url(../images/save.png);
}

.m-image-exit {
    background-image:url(../images/exit.png);
}

.dijitCalendarIncrementControl {
    width:15px;
    height:15px;
    display:inline-block;
}

.dijitCalendarIncreaseInner,.dijitCalendarDecreaseInner {
    visibility:hidden;
}

.dijitCalendarDecrease {
    background:url("../images/spriteRoundedIconsSmall.png") no-repeat top left;
}

.dijitCalendarIncrease {
    background:url("../images/spriteRoundedIconsSmall.png") no-repeat -30px top;
}

table.dijitCalendarContainer {
    font-size:100%;
    border-spacing:0;
    border-collapse:separate;
    border:1px solid #ccc;
    margin:0;
}

.dijitCalendar-month-container th {
    background:#d3d3d3 url("../images/title-bar.png") repeat-x top;
    padding-top:.3em;
    padding-bottom:.2em;
    text-align:center;
}

.dijitCalendarDayLabelTemplate {
    background:#FFF url("../images/calendarDayLabel.png") repeat-x bottom;
    font-weight:400;
    padding-top:.15em;
    padding-bottom:0;
    border-top:1px solid #eee;
    color:#293a4b;
    text-align:center;
}

.dijitCalendarBodyContainer {
    border-bottom:1px solid #eee;
}

.dijitCalendarMonthLabel {
    color:#293a4b;
    font-weight:700;
}

.dijitCalendar-date-template {
    font-size:0.9em;
    font-weight:700;
    text-align:center;
    letter-spacing:1px;
    padding:0.3em 0.3em 0.05em;
}

.dijitCalendar-previous-month,.dijitCalendar-next-month {
    color:#999;
    background-color:#f8f8f8 !important;
}

.dijitCalendarPreviousMonthDisabled,.dijitCalendarNextMonthDisabled {
    background-color:#a4a5a6 !important;
}

.dijitCalendarCurrentMonth {
    background-color:#FFF !important;
}

.dijitCalendarCurrentMonthDisabled {
    background-color:#bbbbbc !important;
}

.dijitCalendarCurrentDate {
    text-decoration:underline;
    font-weight:700;
}

.dijitCalendarSelectedDate {
    background-color:#bbc4d0 !important;
    color:#666 !important;
}

.dijitCalendarYearContainer {
    background:#FFF url("../images/calendarYearLabel.png") repeat-x bottom;
    border-top:1px solid #ccc;
}

.dijitCalendarNextYear,.dijitCalendarPreviousYear {
    color:#666 !important;
    font-weight:400;
}

.dijitIEFixedToolbar {
    position:absolute;
    top:expression(eval((document.documentElement || document.body).scrollTop));
}

.dijitToolbar .dijitToolbarSeparator {
    background:url('images/editor.gif');
    background-image:url('images/editor_rtl.gif');
}

.dijitToolbar {
    border-bottom:1px solid #ccc;
    background:#eaeaea url(../images/title-bar.png) repeat-x top left;
    padding:3px 0 1px 3px;
}

.dijitToolbar .dijitButtonNode {
    background:none;
    border:none;
    font-size:12px;
    margin:0;
    padding:0;
}

.dijitToolbar .dijitButton,.dijitToolbar .dijitToggleButton,.dijitToolbar .dijitDropDownButton {
    background:none;
    outline:1px solid transparent;
    margin:1px;
    padding:0;
}

.dijitToolbar .dijitButtonChecked,.dijitToolbar .dijitToggleButtonChecked {
    background-color:#d8e5f8;
    outline:1px solid #316ac5;
    margin:1px !important;
    padding:0 !important;
}

.dijitToolbar .dijitButtonCheckedHover,.dijitToolbar .dijitToggleButtonCheckedHover {
    background-color:#9abbea;
    outline:1px solid #316ac5;
    margin:1px !important;
    padding:0 !important;
}

.dijitToolbar .dijitButtonHover,.dijitToolbar .dijitToggleButtonHover,.dijitToolbar .dijitDropDownButtonHover {
    outline:1px solid #316ac5;
    background-color:#9abbea;
}

.dijitToolbar label {
    padding:3px 3px 0 6px;
}

.dj_ie .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,.dj_ie .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,.dj_ff2 .soria.dijitToolbar .dijitComboButton .dijitButtonContentsFocused,.dj_ff2 .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
    outline:1px #666 dotted !important;
}

.dj_ie6 .dijitToolbar .dijitButton,.dj_ie6 .dijitToolbar .dijitToggleButton,.dj_ie6 .dijitToolbar .dijitDropDownButton {
    border:0;
    margin:2px;
    padding:0 2px;
}

.dj_ie6 .dijitToolbar .dijitButtonChecked,.dj_ie6 .dijitToolbar .dijitToggleButtonChecked,.dj_ie6 .dijitToolbar .dijitDropDownButtonChecked {
    background-color:#d8e5f8;
    outline:1px solid #316ac5;
    margin:1px !important;
    padding:0 2px !important;
}

.dijitComboBox {
    background:#fff url(../images/validation-input-bg.png) repeat-x top left;
    line-height:normal;
}

/* dijit.Tree */
.dijitTreeNode {
    background-image:url('images/i.gif');
    background-position:top left;
    background-repeat:repeat-y;
    margin-left:19px;
    zoom:1px;
}

.dijitTreeIsLast {
    background:url('images/i_half.gif') no-repeat;
}

.dijitTreeIsRoot {
    margin-left:0;
    background-image:none;
}

.dijitTreeExpando {
    width:18px;
    height:18px;
}

.dijitTreeContent {
    min-height:18px;
    min-width:18px;
    padding-top:0;
    padding-left:0;
    text-align:left;
    left:-4px;
    position:relative;
}

.dijitTreeExpand {
    width:18px;
    height:18px;
    background-repeat:no-repeat;
}

.dijitTreeNodeEmphasized {
    background-color:Highlight;
    color:HighlightText;
}

.dijitTreeLabelFocused {
    outline:1px invert dotted;
    background:#00e7f2;
}

.dijitTreeExpandoOpened {
    background:transparent url(../images/spriteTree.gif) no-repeat scroll -18px top;
}

.dijitTreeExpandoClosed {
    background-image:url(../images/spriteTree.gif);
}

.dijitTreeExpandoLeaf {
    background:transparent url(../images/spriteTree.gif) no-repeat scroll -36px top;
}

.dijitTreeExpandoLoading {
    background-image:url('images/treeExpand_loading.gif');
}

.dijitTreeIcon {
    width:16px;
    height:16px;
    padding-right:2px;
}

.dijitFolderOpened0 {
    background:url('images/folderopen0.gif') no-repeat;
}

.dijitFolderClosed0 {
    background:url('images/folderclose0.gif') no-repeat;
}

.dijitFolderOpened1 {
    background:url('images/folderopen1.gif') no-repeat;
}

.dijitFolderClosed1 {
    background:url('images/folderclose1.gif') no-repeat;
}

.dijitFolderOpened2 {
    background:url('images/folderopen2.gif') no-repeat;
}

.dijitFolderClosed2 {
    background:url('images/folderclose2.gif') no-repeat;
}

.dijitLeaf0 {
    background:url('images/leaf0.gif') no-repeat;
}

.dijitLeaf1 {
    background:url('images/leaf1.gif') no-repeat;
}

.dijitLeaf2 {
    background:url('images/leaf2.gif') no-repeat;
}

/* dijit.Editor */
.dijitDisabled .dijitEditorIcon {
    background-image:url('images/editorDisabled.gif');
}

.dj_ie .m-theme-container-bottom {
    bottom:-3px;
}

.dijitDialog {
    border:3px solid #7EABCD;
}

.dijitDialogUnderlay {
    opacity:0.5px;
    background-color:#000;
}

.dijitTooltip {
    height:auto;
}

.dijitTab {
    line-height:normal;
    margin-right:5px;
    border:1px solid #ccc;
    background:#ccc url("../images/tab-enabled.png") repeat-x;
    padding:0;
}

.dijitTabChecked,.dijitTabCloseButtonChecked {
    background-color:#f7faf9;
    background-image:none;
    border-color:#ccc;
}

.dijitTabInnerDiv {
    border-left:1px solid #f7faf9;
    border-bottom:1px solid #f7faf9;
    padding:6px 10px 4px;
}

.dijitTabHover {
    color:#2f4f4f;
    border-top-color:#92a0b3;
    border-left-color:#92a0b3;
    border-right-color:#92a0b3;
    background:#e2e2e2 url("../images/tab-hover.png") repeat-x bottom;
}

.dijitAlignTop .dijitTabChecked,.dijitAlignTop .dijitTabCloseButtonChecked {
    border-bottom-color:#f7faf9;
    vertical-align:bottom;
}

.dijitTabPaneWrapper {
    border:1px solid #ccc;
}

.dijitDateTextBox {
    margin:2px;
}

.dijitTimePicker .dijitButtonNode {
    height:15px;
    background:#D3D3D3 url(../images/title-bar.png) repeat-x scroll center top;
    padding:0;
}

.dijitTimePicker .dijitButtonNode:hover {
    border:none;
    padding:0;
}

.dijitTimePicker .dijitArrowButtonChar {
    display:block !important;
}

.dijitButtonText {
    font-size:11px;
}

.m-captcha-code {
    background-repeat:repeat-x;
    font-size:34px;
    height:40px;
    width:150px;
    margin-top:0;
    letter-spacing:4px;
    text-align:center;
}

.m-captcha-button {
    height:44px;
    margin-top:0;
    padding-top:8px;
    width:30px;
    text-align:center;
    background-image:url(../images/refresh.png);
    background-repeat:no-repeat;
    background-position:center;
}

.m-expand-div-button {
    float:left;
    height:11px;
    width:11px;
    border:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    margin-right:5px;
    background-image:url('images/expand-div-button.png');
    background-repeat:no-repeat;
}

.m-expand-div-button-expanded {
    background-position:-11px;
}

.m-expand-div-text {
    overflow:hidden;
}

/******************************************************************************
 * MLightBox
 ******************************************************************************/
.dojoxLightbox {
    position:absolute;
    z-index:999;
    overflow:hidden;
    width:100px;
    height:100px;
    border:11px solid #fff;
    background:#fff url('../../images/loading_solis1.gif') no-repeat center center;
    -webkit-box-shadow:0 6px 10px #636363;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.dojoxLightboxContainer {
    position:absolute;
    top:0;
    left:0;
}

.dojoxLightboxFooter {
    height:50px;
    position:relative;
    bottom:0;
    left:0;
    margin-top:8px;
    color:#333;
    z-index:1000;
    font-size:10pt;
}

.dojoxLightboxGroupText {
    color:#666;
    font-size:8pt;
}

.LightboxNext,.LightboxPrev,.LightboxClose {
    float:right;
    width:16px;
    height:16px;
    cursor:pointer;
}

.LightboxClose {
    background:url('images/close.png') no-repeat center center;
}

.dj_ie6 .tundra .LightboxClose {
    background:url('images/close.gif') no-repeat center center;
}

.LightboxNext {
    background:url('images/right.png') no-repeat center center;
}

.dj_ie6 .LightboxNext {
    background:url('images/right.gif') no-repeat center center;
}

.LightboxPrev {
    background:url('images/left.png') no-repeat center center;
}

.dj_ie6 LightboxPrev {
    background:url('images/left.gif') no-repeat center center;
}

.m-tab {
    font-weight:700;
    float:left;
    position:relative;
    top:5px;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    margin:2px 3px 0 0;
}

.m-tab-active {
    top:1px;
    color:#000;
    background-color:#F7FAF9;
    background-image:url('images/status-background.png');
    background-repeat:repeat-x;
    border:solid 1px silver;
    border-top:solid 2px #277EB0;
    border-bottom-width:0;
    z-index:1;
    padding:6px 9px 0px;
}

.m-tab-idle {
    color:#444;
    background:#F8F8F8;
    border:solid 1px silver;
    border-bottom-color:#FFF;
    padding:4px 9px;
}

.m-tab-idle:hover {
    background-color:#F7FAF9;
    color:#000;
}

.m-tab-disabled {
    background:#fafafa;
    color:silver;
    border:solid 1px silver;
    border-bottom-color:#FFF;
    cursor:default;
    padding:4px 9px;
}

.dj_ie .m-tabbed-base-group fieldset {
    top:-5px;
}

.m-tab-buttons {
    float:left;
    margin-right:3px;
}


/******************************************************************************
 * MIOLO::vd
 ******************************************************************************/
table.dBug_array,table.dBug_object,table.dBug_resource,table.dBug_resourceC,table.dBug_xml {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:#000;
    font-size:12px;
}

.dBug_arrayHeader,.dBug_objectHeader,.dBug_resourceHeader,.dBug_resourceCHeader,.dBug_xmlHeader {
    font-weight:700;
    color:#fff;
}

/* array */
table.dBug_array {
    background-color:#060;
}

table.dBug_array td.dBug_arrayHeader {
    background-color:#090;
}

table.dBug_array td.dBug_arrayKey {
    background-color:#CFC;
}

/* object */
table.dBug_object {
    background-color:#00C;
}

table.dBug_object td.dBug_objectHeader {
    background-color:#44C;
}

table.dBug_object td.dBug_objectKey {
    background-color:#CDF;
}

/* xml */
table.dBug_xml {
    background-color:#888;
}

table.dBug_xml td.dBug_xmlHeader {
    background-color:#AAA;
}

table.dBug_xml td.dBug_xmlKey {
    background-color:#DDD;
}

#dBug_closeButton {
    text-align:right;
    cursor:hand;
}

/******************************************************************************
 * Validator
 ******************************************************************************/
.m-validator-error {
    border:solid 1px #ffb93-c;
    background-color:#fffca2;
    color:red;
    font-size:10px;
    margin-left:2px;
    padding:2px;
}

/******************************************************************************
 * Menus
 ******************************************************************************/
.dijitMenuExpand {
    background-image:url(../images/arrow-right.png);
    background-position:0;
    width:16px;
    height:16px;
}

.dijitMenuZebra .dijitMenuZebra0 {
    background-color:#FFF;
    border:solid 1px silver;
}

.dijitMenuZebra .dijitMenuZebra1 {
    background-color:#EFEFEF;
    border:solid 1px silver;
}

.dj_ie6 .dijitMenuExpand {
    background-image:url(../images/arrow-right.gif);
}

.m-menu-icon {
    background-image:url('images/contextmenu.png');
    background-repeat:no-repeat;
    width:20px;
    height:20px;
}

.m-menu-icon-edit {
    background-position:-20px;
}

.m-menu-icon-view {
    background-position:-40px;
}

.m-menu-icon-remove {
    background-position:-60px;
}

.m-menu-icon-duplicate {
    background-position:-80px;
}

.m-menu-icon-export {
    background-position:-100px;
}

.m-menu-icon-export-html {
    background-position:-120px;
}

.m-menu-icon-export-pdf {
    background-position:-140px;
}

.m-menu-icon-export-csv {
    background-position:-160px;
}

.m-menu-icon-relation {
    background-position:-180px;
}

.m-menu-icon-workflow {
    background-position:-200px;
}

/******************************************************************************
 * MDualList
 ******************************************************************************/
.m-dual-list {
    min-width:200px;
}

.m-dual-list-div {
    text-align:center;
}

.m-dual-list-div button {
    width:70px;
}

.m-dual-list-counter {
    float:left;
    line-height:25px;
}

#vertical-toolbar {
    top:54px;
    left:10px;
    position:fixed;
    margin:0;
    padding:3px;
}

#vertical-toolbar .m-container-horizontal {
    clear:both;
    text-align:center;
    width:70px;
}

.vertical-toolbar-padding {
    padding-left:100px;
    width:auto !important;
}

.m-link:link,.m-link:visited {
    color:#333;
    font-weight:700;
    text-decoration:underline;
}

.m-link:hover,.m-link:active {
    color:#287eb0;
    font-weight:700;
    text-decoration:underline;
}

.m-image-link-label:link,.m-image-link-label:visited,.m-image-link-label:hover,.m-image-link-label:active {
    color:#333;
    font-weight:400;
    text-decoration:underline;
}

.m-text-table tr th.select .link-select,.m-text-table .scroll table tr td.select .link-select {
    background-color:threedface;
    border-top:1px solid threedhighlight;
    border-left:1px solid threedhighlight;
    border-right:1px solid threedshadow;
    border-bottom:1px solid threedshadow;
    height:15px;
    width:10px;
    text-decoration:none;
}

.dj_ie6 .dijitToolbar .dijitButtonCheckedHover,.dj_ie6 .dijitToolbar .dijitToggleButtonCheckedHover,.dj_ie6 .dijitToolbar .dijitDropDownButtonCheckedHover,.dj_ie6 .dijitToolbar .dijitButtonHover,.dj_ie6 .dijitToolbar .dijitToggleButtonHover,.dj_ie6 .dijitToolbar .dijitDropDownButtonHover {
    background-color:#9abbea;
    outline:1px solid #316ac5;
    margin:1px !important;
    padding:0 2px !important;
}

.dijitReset .dijitA11ySideArrow,.dijitTimePicker .dijitArrowButtonInner,.m-tab-removed {
    display:none;
}

.m-expand-div-button-collapsed,.m-menu-icon-insert {
    background-position:0;
}

.m-popup-body div .m-form-row span.label,.m-popup-body div .m-form-row .m-container-horizontal {
    width:145px;
}

table.dBug_array td,table.dBug_object td,table.dBug_resourceC td,table.dBug_resource td,table.dBug_xml td {
    background-color:#FFF;
}

table.dBug_resourceC,table.dBug_resource {
    background-color:#848;
}

table.dBug_resourceC td.dBug_resourceCHeader,table.dBug_resource td.dBug_resourceHeader {
    background-color:#A6A;
}

table.dBug_resourceC td.dBug_resourceCKey,table.dBug_resource td.dBug_resourceKey {
    background-color:#FDF;
}

.xdebug-error {
    margin-top: 80px;
    font-size: 10px;
}

.mExpandDivButton {
    float: left;
    height: 11px;
    width: 11px;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin-right: 5px;
    background-image: url('images/expandDivButton.png'); 
    background-repeat: no-repeat;
}

.mExpandDivButtonCollapsed { background-position: 0px; }
.mExpandDivButtonExpanded { background-position: -11px; }
.mExpandDivText { overflow: hidden; }