/* CSS da página StatusBanco */
p.sbMensagemErro {
    color: #F00;
    text-align: center;
    font-size: 18px;
    
}

div.sbTempo {
    position: absolute;
    top: 41px;
    right: 5px;
    color: #f4f4f4;
    
}

div.sbTempo > p {
    font-weight: bolder;
    
}

h1.sbInfoLabel {
    font-size: 18px;
    
}

div.sbInfoContainer {
    position: relative;
    background-color: #fff;
    padding: 5px 10px;
    text-wrap: normal;
    margin-bottom: 10px;
    border: 1px solid #c3c3c3;
    
}

div.sbInfoContainer > button {
    position: absolute;
    top: 5px;
    right: 5px;
    
}

div.sbQueryContainer > p {
    padding: 0;
    margin: 0;
    
}

div.sbQueryContainer {
    position: relative;
    padding: 2px;
    transition: all 0.5s;
    overflow: visible;
    height: auto;
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: 1px solid #c3c3c3;
}

div.sbQueryContainerClosed {
    height: 15px;
    overflow: hidden;
    
}

div.sbQueryContainer:after {
    content: "\2191";
    position: absolute;
    top: -3px;
    right: 2px;
    font-weight: bolder;
    font-size: 15px;
    
}

div.sbQueryContainerClosed:after {
    content: "\2193";
    
}