<?xml version="1.0" encoding="ISO-8859-1"?>
<conf>
    <namespace>
        <business>/db</business>
    </namespace>
    <options>
       <startup>admin</startup>
    </options>
  <db>
    <admin>
      <system>sqlite</system>
      <host>localhost</host>
      <name>/var/www/miolo/modules/admin/sql/admin.sqlite</name>
      <user>admin</user>
      <password>admin</password>
    </admin>
  </db>
</conf>
