Package: miolo
Version: 2.5
Section: web
Priority: optional
Architecture: i386
Essential: no
Depends: php5, apache2, libapache2-mod-php5, php5-mysql, php5-pgsql, php5-sqlite
Pre-Depends: 
Recommends:   
Suggests:  
Installed-Size: 
Maintainer: Taffarel [taffarel@solis.coop.br]
Conflicts: 
Replaces: 
Provides: miolo
Description: Framework para aplicações Web
