.s-tabform-panel-group {
  position:relative;
  margin:10px; 
  padding:0;
}

.s-collapsible {index.ph...forms.css (line 235)
display:block;
margin:0pt;
padding:0pt;
width: 99%;
}

.s-tabform-default {
  cursor:pointer;
  color:           #444444;
  font-size:       8pt;
  font-weight:     bold;
  text-decoration: none;
  text-align:center;
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
  border-bottom:1px solid #000;
  margin:0; padding:3px;
  background: #cccccc;
  background-image: url(index.php/miolo/themes/sescoop/images/shadow.png);
  background-repeat: repeat-x;
  -moz-border-radius-topleft: 0.7em;
  -moz-border-radius-topright: 0.7em;
  -moz-border-radius-bottomleft: 0em;
  -moz-border-radius-bottomright: 0em;
  height: auto;
}

.s-tabform-default:hover {
  cursor:pointer;
  color:           #ffffff;
  font-size:       8pt;
  font-weight:     bold;
  text-decoration: none;
  text-align:center;
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
  border-bottom:1px solid #000;
  margin:0; padding:3px;
  background: #777777;
  background-image: url(index.php/miolo/themes/sescoop/images/shadow.png);
  background-repeat: repeat-x;
  -moz-border-radius-topleft: 0.7em;
  -moz-border-radius-topright: 0.7em;
  -moz-border-radius-bottomleft: 0em;
  -moz-border-radius-bottomright: 0em;
  height: auto;
}

.s-tabform-selected {
  /*cursor:pointer;*/
  color:           #000000;
  font-weight:     bold;
  font-size:       8pt;
  text-decoration: none;
  text-align:center;
  border-top:1px solid #000;
  border-right:1px solid #000;
  border-left:1px solid #000;
  border-bottom: 0px solid #000;
  margin:0; padding:3px;
  color:#000; background:#F8F8FF;
  background-image: url(index.php/miolo/themes/sescoop/images/shadow.png);
  background-repeat: repeat-x;
  -moz-border-radius-topleft: 0.7em;
  -moz-border-radius-topright: 0.7em;
  -moz-border-radius-bottomleft: 0em;
  -moz-border-radius-bottomright: 0em;
  height: auto;
}

.s-button-selected
{
    color: #000;
	font-size: 11px;
	font-weight: normal;
	background-color: #FFFFFF;
    border-left: 1px solid #333333;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
	height: 19px;
	margin:2px;
    -moz-border-radius: 0.3em;
}
