body
    {
    margin:           0px;
    padding:          10px;
    background-color: white;
    font-family:      helvetica;
    }

h1
    {
    width:         95%;
    text-align:    left;
    background:    #ffffff;
    border-bottom: #0000ff 4px solid;
    margin:        0px;
    padding:       5px 20px 5px 20px;
    }

h2
    {
    font-family: helvetica;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    }

h3
    {
    font-family: helvetica;
    font-size: 10pt;
    font-weight: bold
    }

p
    {
    font-family: helvetica;
    font-size: 10pt;
    }

pre
    {
    background: #efefef;
    padding: 5px 10px 5px 10px;
    margin: 5px 20px 5px 20px;
    }

dt
    {
    font-family: courier;
    font-size: 12pt;
    }

dd
    {
    font-family: helvetica;
    font-size: 10pt;
    margin-bottom: 10px;
    }

dl
    {
    margin-left: 25px
    }

code
    {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 12pt;
    font-weight: bold;
    color: #9f009f;
    }

.sourceName
    {
    color: blue;
    font-size: 24;
    }

.classBlock
    {
    background-color: #fffff7;
    margin-top: 10;
    margin-bottom: 10;
    padding: 5;
    }

.className
    {
    color: blue
    }

.functionBlock
    {
    margin: 10;
    padding: 10;
    background-color: #f7f7ff;
    }

.functionName
    {
    color: blue;
    font-weight: bold;
    }

.privateFunctionName
    {
    color: gray;
    font-weight: bold;
    }

.paramName
    {
    color: green;
    font-weight: bold;
    }

.paramValue
    {
    color: brown;
    font-weight: bold;
    }

.declaration
    {
    margin-top: 10;
    margin-right: 50;
    padding: 8;
    background-color: #ffdfef;
    font-family: monospace;
    }

.description
    {
    margin-top: 10;
    margin-right: 50;
    padding: 8;
    color: #00007f;
    font-family: helvetica;
    font-size: 12pt;
    font-weight: normal;
    }

.returns
    {
    margin-top: 10;
    margin-right: 50;
    padding: 8;
    color: #007f00;
    font-family: helvetica;
    font-size: 12pt;
    font-weight: normal;
    }

.relations
    {
    margin-top: 10;
    margin-right: 50;
    padding: 8;
    font-family: helvetica;
    font-size: 10pt;
    font-style: oblique;
    }
