/**
 * <--- Copyright 2012 de Solis - Cooperativa de Solu��es Livres Ltda.
 *
 * Este arquivo � parte do programa Sagu.
 *
 * O Sagu � um software livre; voc� pode redistribu�-lo e/ou modific�-lo
 * dentro dos termos da Licen�a P�blica Geral GNU como publicada pela Funda��o
 * do Software Livre (FSF); na vers�o 2 da Licen�a.
 *
 * Este programa � distribu�do na esperan�a que possa ser �til, mas SEM
 * NENHUMA GARANTIA; sem uma garantia impl�cita de ADEQUA��O a qualquer MERCADO
 * ou APLICA��O EM PARTICULAR. Veja a Licen�a P�blica Geral GNU/GPL em
 *
 * Voc� deve ter recebido uma c�pia da Licen�a P�blica Geral GNU, sob o t�tulo
 * "LICENCA.txt", junto com este programa, se n�o, acesse o Portal do Software
 * P�blico Brasileiro no endere�o www.softwarepublico.gov.br ou escreva para a
 * Funda��o do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston,
 * MA 02110-1301, USA --->
 *
 * Tema SModern.
 *
 * @author Daniel Hartmann [daniel@solis.coop.br]
 *
 * \b Maintainers: \n
 * Armando Taffarel Neto [taffarel@solis.coop.br]
 * Daniel Hartmann [daniel@solis.coop.br]
 *
 * @since
 * Class created on 06/01/2012
 *
*/

/******************************************************************************
 * gtkTheme - theme.css
 ******************************************************************************/

/******************************************************************************
 * form
 ******************************************************************************/
.m-form-box {
    width:100%;
    text-align:center;
    border-right:0 none;
}

.m-form-title {
    background-color:silver;
    color:#333;
    font-weight:700;
    font-size:11px;
    text-decoration:none;
    padding:2px;
}

.m-form-body {
    background-color:#ededed;
    font-size:11px;
    font-weight:400;
    text-align:left;
    border:solid 1px silver;
    background:url("index.php/miolo/themes/smodern/images/bg-conteudo.png") repeat-x scroll center top #FDFDFD;
    margin:0 0 24px;
    padding:10px 4px 4px;
}

.m-form-css {
    background-color:#ededed;
    -moz-border-radius:0.3em;
    font-size:11px;
    font-weight:400;
}

.fieldset {
    border:1px solid silver;
}

.m-form-row {
    padding-top:3px;
    clear:both;
    margin-top:3px;
    width:100%;
}

.m-form-row-0 {
    clear:both;
    padding-top:3px;
    width:100%;
    background-color:#8b8b8b;
}

.m-form-row span.horizontal {
    float:left;
    padding-right:5px;
}

.m-form-row .label .m-caption,
.m-form-row div .m-caption,
.m-form-row span.label {
    float:left;
    padding-right:5px;
    width:140px;
    vertical-align:middle;
    text-align:right;
}

fieldset div span.m-label,
fieldset div span.m-caption,
fieldset div span.m-text {
    width: 100% !important;
    text-align: right !important;
    display: block;
}

.m-left-text {
    width: 100% !important;
    text-align: left !important;
    display: block;
}

.m-form-row div .m-text {
    float:left;
    vertical-align:middle;
    text-align:right;
    width: 100%;
}

.fix-field-align-container .m-form-row span.label {
    width:140px;
}

.m-form-row span.field {
    float:left;
    padding-left:2px;
}

.m-form-field-box {
    padding:2px;
}

.m-form-button-box {
    clear:left;
    padding:3px;
}

.m-form-button-box ul {
    list-style:none;
    margin:0;
    padding:2px 0 0;
}

.m-form-button-box ul li {
    display:inline;
}

.m-caption-required:after {
    content:'*';
    color:#c61217;
}

/******************************************************************************
 * StepByStepForm
 ******************************************************************************/
.m-step-num {
    font-size:42px;
    font-family: Trebuchet MS;    
    font-weight:700;    
    width:15%;
    float:left;
    text-align:right;
    margin-top: 15px;
    margin-left: 5%;
}

.m-step-hide {
    font-size:30px;
    float:left;
    margin-top:10px;
}

.m-step-status-label {
    font-size:8px;
    display: none;
    text-align:center;
}

.m-step-label {
    font-size:15px;
    font-family: Trebuchet MS;
    text-align: left;
    margin-top:5px;
    margin-left: 25%;
    width: 45%;
    margin-top: 10px;
}

.m-step-icon {
    width:24px;
    height:24px;
    display:none;
}

.m-step-icon-next {
    background-position:0;
    display: none;
}

.m-step-icon-previous {
    background-position:-48px;
    display: none;
}

.m-step {
    border:1px transparent solid;
    text-align:center;
    width:170px;
    min-height:55px;
    line-height:15px;
    float:left;
    padding:2px;
    color: gray;
    margin: 0px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.m-step-current{
    color: #000;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.m-step-enabled .m-step-label { 
    color: #000; 
}

.m-step-enabled:hover {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    cursor: pointer;
    opacity: 0.8;
    cursor:pointer;
}

.m-step-button {
    float:left;
}

.m-step-button input,.m-step-button input:hover {
    background:transparent;
    border:none;
}

.m-stepbystep-buttons,.m-stepbystep-buttons-img {
    text-align:center;
}

.m-stepbystep-buttons-img button {
    height:23px !important;
    padding:2px !important;
}

/******************************************************************************
 * Tabbed Form
 ******************************************************************************/
.m-tab-form {
    background-color:#fff;
    width:95%;
    padding:1px;
}

.m-tab-form-body {
    border-left:solid #666 1pt;
    border-right:solid #666 3pt;
    border-bottom:solid #666 3pt;
    font-size:11px;
    font-weight:400;
    background-color:#ededed;
    text-align:left;
    background-image:url(index.php/miolo/themes/smodern/images/form-background.png);
    background-position:bottom;
    background-repeat:repeat-x;
    padding:4px;
}

.m-tab-form-text {
    color:#333;
    font-size:11px;
    margin-top:3px;
    margin-bottom:3px;
    vertical-align:top;
}

.m-tab-form-title {
    color:#333;
    font-size:12px;
    font-weight:700;
    margin-top:2px;
    margin-bottom:2px;
    vertical-align:top;
}

.m-tab-form-color0 {
    background-color:#fff;
}

.m-tab-form-color1 {
    background-color:#ccc;
}

.m-tab-form-color3 {
    background-color:threedface;
}

/*
javascript*/
.m-collapsible {
    overflow:hidden;
    display:block;
    margin:0;
    padding:0;
}

.m-tab-form-panel-group {
    position:relative;
    overflow:hidden;
    margin:10px;
    padding:0;
}

.m-tab-form-panel {
    position:absolute;
    overflow:auto;
    overflow-x:hidden;
    font-size:11px;
    font-weight:400;
    background-color:#ededed;
    text-align:left;
    background-image:url(index.php/miolo/themes/smodern/images/form-background.png);
    background-position:bottom;
    background-repeat:repeat-x;
    margin:0;
    padding:4px;
}

.m-tab-form-group {
    position:absolute;
    overflow:hidden;
    margin:0;
    padding:0;
}

.m-tab-form-span {
    display:block;
    height:100%;
    border-top:1px solid threedshadow;
    border-right:1px solid threedshadow;
    border-left:1px solid threedshadow;
    padding:2px;
}

.m-tab-form-default {
    position:absolute;
    overflow:hidden;
    cursor:pointer;
    color:#333;
    text-decoration:none;
    text-align:center;
    border-bottom:1px solid threedhighlight;
    background:threedface;
    font:message-box;
    margin:0;
    padding:0;
}

.m-tab-form-selected {
    position:absolute;
    overflow:hidden;
    cursor:pointer;
    z-index:5;
    text-decoration:none;
    text-align:center;
    border-bottom:1px solid threedface;
    color:#333;
    background:threedface;
    font:message-box;
    margin:0;
    padding:0;
}

/**************** REVISAR *******************
*****************************************************************************
 * Form
 ******************************************************************************/
.m-form {
    width:100% !important;
    text-align:center;
    border-right:0 none;
    background:transparent;
    height:100%;
    margin-bottom:20px;
}

.m-form-row span.hint {
    float:left;
    padding-left:2px;
    padding-top:4px;
}

.m-form-row div.clear {
    display:box;
    clear:both;
    line-height:0;
    background-color:transparent;
    height:0;
}

/* hack for ie/-win */
.m-form-button-box div.m-hr {
    height:5px;
}

.m-form-button-box li button {
    margin:2px 2px 2px 0;
}

.m-form-row-1,.m-form-row0,.m-form-row1 {
    clear:both;
    padding-top:3px;
    width:100%;
}

.m-step-label-atual,.m-step-current-label {
    font-weight:700;
    color: #000;
}

.m-tab-form-color2,.m-tab-form-color4 {
    background-color:#666;
}

#btnSearch{
    margin-left: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
}