<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<map>
    <moduleName>admin</moduleName>
    <className>module</className>
    <tableName>miolo_module</tableName>
    <databaseName>admin</databaseName>
    <attribute>
        <attributeName>idModule</attributeName>
        <columnName>idmodule</columnName>
		<key>primary</key>
    </attribute>
    <attribute>
        <attributeName>nome</attributeName>
        <columnName>name</columnName>
    </attribute>
    <attribute>
        <attributeName>descricao</attributeName>
        <columnName>description</columnName>
    </attribute>
</map>
